﻿@model FmtsServices.Model.DriverModel

@{
    ViewBag.Title = "Drivers";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.HiddenFor(model => model.DriverID)

        @Html.Partial("_CreateEdit", @Model)

    </div>
}


