﻿@model FmtsServices.Model.TagModel

@{
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.HiddenFor(model => model.TagID)

        @Html.Partial("_CreateEdit", @Model)


    </div>
}


