﻿@model FmtsProj.Models.HomeModel
@{
    ViewBag.Title = "Drivers";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>




    @*
<script>
    $(function () {
        var availableTags = [
            "ActionScript",
            "AppleScript",
            "Asp",
            "BASIC",
            "C",
            "C++",
            "Clojure",
            "COBOL",
            "ColdFusion",
            "Erlang",
            "Fortran",
            "Groovy",
            "Haskell",
            "Java",
            "JavaScript",
            "Lisp",
            "Perl",
            "PHP",
            "Python",
            "Ruby",
            "Scala",
            "Scheme"
        ];
        $("#test1").autocomplete({
            source: availableTags
        });
    });

</script>*@
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
<div>


    <input type="hidden" id="hfCustomer" name="CustomerId" />
    <input type="submit" id="btnSubmit" value="Submit" />

    <div class="input-group">
        <input class="form-control search-body" aria-label="Text input with segmented button dropdown" id="inputToday" placeholder="Today">
        <div class="input-group-btn">
            <button class="btn btn-default dropdown-toggle" aria-expanded="false" aria-haspopup="true" type="button" data-toggle="dropdown">
                <span class="caret"></span> <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" id="myid">
                <li><a id="1">Today</a></li>
                <li><a id="2">Next Week</a></li>
            </ul>
        </div>

        <input class="form-control search-body" aria-label="Text input with segmented button dropdown" id="inputClient" placeholder="Client">
        <div class="input-group-btn">
            <button class="btn btn-default dropdown-toggle" aria-expanded="false" aria-haspopup="true" onchange="onChangeCombo" type="button" data-toggle="dropdown">
                <span class="caret"></span> <span class="sr-only">Client</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" id="ClientDrop">

                @foreach (var item in Model.client)
                {

                <li id="@item.ClientID">@item.ClientName</li>
                }
            </ul>
        </div>
        <input class="form-control search-body" aria-label="Text input with segmented button dropdown" id="inputVehicleID" placeholder="Vehicle">
        <div class="input-group-btn">
            <button class="btn btn-default dropdown-toggle" aria-expanded="false" aria-haspopup="true" type="button" data-toggle="dropdown">
                <span class="caret"></span> <span class="sr-only">VehicleID</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">

                @foreach (var item in Model.vehicles)
                {
                <li><a href="#">@item.VehicleID</a></li>
                }
            </ul>
        </div>

        <input class="form-control search-body" aria-label="Text input with segmented button dropdown" id="inputDriver" placeholder="Driver">
        <div class="input-group-btn">
            <button class="btn btn-default dropdown-toggle" aria-expanded="false" aria-haspopup="true" type="button" data-toggle="dropdown">
                <span class="caret"></span> <span class="sr-only">Driver</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" on="">
                <li>
                    <a href="javascript:;" data-bind="click: clickTest">Click 1</a>
                </li>
                <li>
                    <a href="javascript:;" data-bind="click: clickTest">Click 2</a>
                </li>
                <li>
                    <a href="javascript:;" data-bind="click: clickTest">Click 3</a>
                </li>
            </ul>
        </div>

    </div>

    <ul id="myTab" class="nav nav-tabs">
        <li class="active">
            <a href="#home" data-toggle="tab">
                Map
            </a>
        </li>

        <li><a href="#ios" data-toggle="tab">Table</a></li>

    </ul>
</div>
}
<div id="myTabContent" class="tab-content">

    <div class="tab-pane fade in active" id="home">
        <div class="container-fluid">
            <div class="card card-map">
                <div class="card card-map">
                    <div class="header">
                        <p class="category">Regular Map</p>
                    </div>
                    <div class="map">
                        <div id="map"></div>
                        <script>
                            var map;
                            function initMap() {
                                map = new google.maps.Map(document.getElementById('map'), {
                                    center: { lat: -34.397, lng: 150.644 },
                                    zoom: 8
                                });
                            }
                        </script>
                        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkXb0YHO4RH39UfLyVhH9-u4Ccy2pB2mw&callback=initMap"
                                async defer></script>

                    </div>
                    <br />
                    <div class="col-md-12">
                        <br />
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Vehicals</h4>

                            </div>
                            <div class="content">
                                <table class="table">
                                    <tr>
                                        <th>
                                            Seat Count
                                        </th>
                                        <th>
                                            Vehicle1
                                        </th>
                                        <th>
                                            Vehicle Brand
                                        </th>
                                        <th>
                                            Vehicle Engine
                                        </th>
                                        <th>
                                            Vehicle Color
                                        </th>
                                        <th>
                                            Vehicle Status
                                        </th>
                                        <th>
                                            Vehicle Model
                                        </th>
                                        <th>
                                            CreatedBy)
                                        </th>
                                        <th></th>
                                    </tr>

                                    @foreach (var item in Model.vehicles)
                                    {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SeatCount)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Vehicle1)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.VehicleBrand)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.VehicleEngine)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.VehicleColor)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.VehicleStatus)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.VehicleModel)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreatedBy)
                                        </td>
                                        @*
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.VehicleID }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.VehicleID }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.VehicleID })
                                        </td>*@
                                    </tr>
                                    }

                                </table>

                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="content">
                    <div class="header">
                        <h4 class="title">Drivers</h4>

                    </div>

                    <table class="table">
                        <tr>
                            <th>
                                Full Name
                            </th>
                            <th>
                                Personal Number
                            </th>
                            <th>
                                Joining Date
                            </th>
                            <th>
                                Nationality
                            </th>
                            <th>
                                Emarites Id Expairy
                            </th>
                            <th>
                                Passport Number
                            </th>
                            <th>
                                Medical Status
                            </th>
                            <th>
                                Address
                            </th>
                            <th>
                                Driver Emarites ID
                            </th>
                            <th>
                                Reference Name
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model.driver)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PersonalNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.JoiningDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nationality)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmaritesIdExpairy)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PassportNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MedicalStatus)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DriverEmaritesID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReferenceName)
                            </td>
                            @*
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.DriverID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.DriverID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.DriverID })
                            </td>*@

                        </tr>
                        }

                    </table>

                </div>

            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="ios">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Trips</h4>
                </div>
                <div class="content">
                    <table class="table">
                        <tr>
                            <th>
                                Trip Type
                            </th>
                            <th>
                                Cost
                            </th>
                            <th>
                                Start Time
                            </th>
                            <th>
                                End Time
                            </th>
                            <th>
                                Start Loc Name
                            </th>
                            <th>
                                End Loc Name
                            </th>

                            <th>
                                Repeat Every
                            </th>
                            <th>
                                Occurs On)
                            </th>
                            <th>
                                Repeat Type
                            </th>
                            <th>
                                Book ID
                            </th>
                            <th>
                                Vehicle Brand
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model.trip)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.TripType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cost)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EndTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartLocName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EndLocName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RepeatEvery)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OccursOn)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Rec_Type)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Book.BookID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Vehicle.VehicleBrand)
                            </td>
                            @*
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.TripID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.TripID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.TripID })
                            </td>*@
                        </tr>
                        }

                    </table>

                </div>
            </div>
        </div>



    </div>
</div>

<script type="text/javascript">
                            $(document).ready(function () {
                                $("ul[id*=myid] li").click(function (e) {
                                    $("#inputToday").val($(this).text());

                                });
                            });

                            $(function () {
                                $("#inputToday").autocomplete({
                                    source: function (request, response) {

                                        $.ajax({
                                            url: '/Home/AutoComplete/',
                                            data: "{ 'inputToday': '" + $("#inputToday").val() + "'" +
                                            ", 'inputClient': '" + $("#inputClient").val() + "'" +
                                            ", 'inputVehicleID': '" + $("#inputVehicleID").val() + "'" +
                                            ", 'inputDriver': '" + $("#inputDriver").val() + "'" +
                                            ", 'request': 'inputToday'" +

                                            "}",
                                            dataType: "json",
                                            type: "POST",
                                            contentType: "application/json; charset=utf-8",
                                            success: function (data) {
                                                response($.map(data, function (item) {
                                                    return item;
                                                }))
                                            },
                                            error: function (response) {
                                                alert(response.responseText);
                                            },
                                            failure: function (response) {
                                                alert(response.responseText);
                                            }
                                        });
                                    },
                                    select: function (e, i) {
                                        $("#hfCustomer").val(i.item.val);
                                    },
                                    minLength: 1
                                });
                            });
                            $(function () {
                                $("#inputClient").autocomplete({
                                    source: function (request, response) {

                                        $.ajax({
                                            url: '/Home/AutoComplete/',
                                            data: "{ 'inputToday': '" + $("#inputToday").val() + "'" +
                                            ", 'inputClient': '" + $("#inputClient").val() + "'" +
                                            ", 'inputVehicleID': '" + $("#inputVehicleID").val() + "'" +
                                            ", 'inputDriver': '" + $("#inputDriver").val() + "'" +
                                            ", 'request': 'inputClient'" +

                                            "}",
                                            dataType: "json",
                                            type: "POST",
                                            contentType: "application/json; charset=utf-8",
                                            success: function (data) {
                                                response($.map(data, function (item) {
                                                    return item;
                                                }))
                                            },
                                            error: function (response) {
                                                alert(response.responseText);
                                            },
                                            failure: function (response) {
                                                alert(response.responseText);
                                            }
                                        });
                                    },
                                    select: function (e, i) {
                                        $("#hfCustomer").val(i.item.val);
                                    },
                                    minLength: 1
                                });
                            });
                            $(function () {
                                $("#inputVehicleID").autocomplete({
                                    source: function (request, response) {

                                        $.ajax({
                                            url: '/Home/AutoComplete/',
                                            data: "{ 'inputToday': '" + $("#inputToday").val() + "'" +
                                            ", 'inputClient': '" + $("#inputClient").val() + "'" +
                                            ", 'inputVehicleID': '" + $("#inputVehicleID").val() + "'" +
                                            ", 'inputDriver': '" + $("#inputDriver").val() + "'" +
                                            ", 'request': 'inputVehicleID'" +

                                            "}",
                                            dataType: "json",
                                            type: "POST",
                                            contentType: "application/json; charset=utf-8",
                                            success: function (data) {
                                                response($.map(data, function (item) {
                                                    return item;
                                                }))
                                            },
                                            error: function (response) {
                                                alert(response.responseText);
                                            },
                                            failure: function (response) {
                                                alert(response.responseText);
                                            }
                                        });
                                    },
                                    select: function (e, i) {
                                        $("#hfCustomer").val(i.item.val);
                                    },
                                    minLength: 1
                                });
                                $("#inputDriver").autocomplete({
                                    source: function (request, response) {

                                        $.ajax({
                                            url: '/Home/AutoComplete/',
                                            data: "{ 'inputToday': '" + $("#inputToday").val() + "'" +
                                            ", 'inputClient': '" + $("#inputClient").val() + "'" +
                                            ", 'inputVehicleID': '" + $("#inputVehicleID").val() + "'" +
                                            ", 'inputDriver': '" + $("#inputDriver").val() + "'" +
                                            ", 'request': 'inputDriver'" +

                                            "}",
                                            dataType: "json",
                                            type: "POST",
                                            contentType: "application/json; charset=utf-8",
                                            success: function (data) {
                                                response($.map(data, function (item) {
                                                    return item;
                                                }))
                                            },
                                            error: function (response) {
                                                alert(response.responseText);
                                            },
                                            failure: function (response) {
                                                alert(response.responseText);
                                            }
                                        });
                                    },
                                    select: function (e, i) {
                                        $("#hfCustomer").val(i.item.val);
                                    },
                                    minLength: 1
                                });
                            });
</script>