﻿@model FmtsServices.Model.VehiclesModel


@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="form-group">
    @Html.LabelFor(model => model.VehicleNum, htmlAttributes: new { @class = "control-label left-label col-md-2" })
    <div class="col-md-9">
        @Html.EditorFor(model => model.VehicleNum, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.VehicleNum, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.SeatCount, htmlAttributes: new { @class = "control-label left-label col-md-2" })
    <div class="col-md-9">
        @Html.EditorFor(model => model.SeatCount, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.SeatCount, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.VehicleColor, htmlAttributes: new { @class = "control-label left-label col-md-2" })
    <div class="col-md-9">
        @Html.EditorFor(model => model.VehicleColor, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.VehicleColor, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.VehicleStatus, htmlAttributes: new { @class = "control-label left-label col-md-2" })
    <div class="col-md-9">
        @Html.EditorFor(model => model.VehicleStatus, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.VehicleStatus, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.VehicleModel, htmlAttributes: new { @class = "control-label left-label col-md-2" })
    <div class="col-md-9">
        @Html.EditorFor(model => model.VehicleModel, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.VehicleModel, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.MakeYear, htmlAttributes: new { @class = "control-label left-label col-md-2" })
    <div class="col-md-9">
        @Html.EditorFor(model => model.MakeYear, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.MakeYear, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ChasisNumber, htmlAttributes: new { @class = "control-label left-label col-md-2" })
    <div class="col-md-9">
        @Html.EditorFor(model => model.ChasisNumber, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ChasisNumber, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Make, htmlAttributes: new { @class = "control-label left-label col-md-2" })
    <div class="col-md-9">
        @Html.EditorFor(model => model.Make, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Make, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.OwnerID, "OwnerID", htmlAttributes: new { @class = "control-label left-label col-md-2" })
    <div class="col-md-9">
        @Html.DropDownList("OwnerID", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.OwnerID, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Type, "Type", htmlAttributes: new { @class = "control-label left-label col-md-2" })
    <div class="col-md-9">
        @*@Html.DropDownListFor(model => model.Type, (SelectList)ViewBag.Type,null, htmlAttributes: new { @class = "form-control" })*@
        @Html.DropDownListFor(model => model.Type, new SelectList((System.Collections.IEnumerable)ViewBag.TypeList, "Value", "Text"), null, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <div class=" left-label col-md-2">
    </div>
    <div class="col-md-9">
        <input type="submit" value="Save" class="btn btn-primary btn-lg" />
        <button type="button" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("Index")'">Back</button>
    </div>
</div>
<script type="text/javascript">

    $('#InputOwnerID').selectivity({
        allowClear: true,
        multiple: false,
        //readOnly: true,
        data: inputNameData,
        ajax: {
            url: baseURL + "Owners/GetOwners",
            minimumInputLength: 0,
            quietMillis: 250,
            params: function (term, offset) {
                // GitHub uses 1-based pages with 30 results, by default
                return { q: term, page: 1 + Math.floor(offset / 15), pageSize: 15};
            },
            fetch: function (url, init, queryOptions) {
                return $.ajax(url).then(function (data) {
                    return {
                        results: $.map(data.items, function (item) {
                            return {
                                id: item.id,
                                text: item.text
                            };
                        }),
                        more: (data.count > queryOptions.offset + data.items.length)
                    };
                });
            }
        },
        placeholder: 'Owner',
        //templates: {
        //    resultItem: function (item) {
        //        return (
        //            '<div class="selectivity-result-item" data-item-id="' + item.id + '">' +
        //            '<b>' + item.text + '</b><br>' +
        //            '</div>'
        //        );
        //    }
        //}
    });

</script>




