﻿@model FmtsServices.Model.VehiclesModel

@{
    ViewBag.Title = "Vehicles";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />

        @Html.Partial("_CreateEdit", @Model)

    </div>
}
