﻿@model FmtsServices.Model.UserModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.HiddenFor(model => model.UserID)

        @Html.Partial("_CreateEdit", @Model)


    </div>
}
