﻿@model FmtsEntity.BookSchedule
@{
    ViewBag.PageName = "BookTrip";
    //ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src=@Url.Content("/Content/js/confirmDate.js")></script>
        <link href="~/Content/css/confirmDate.css" rel="stylesheet" />
    <style>
        .button-book-t, .button-export-r {
            display: none;
        }
    </style>
    <div class="shadooows" id="shadooows">
        <div class="centerd">
            <img src=@Url.Content("/Content/images/load.gif") alt="Alternate Text" />
        </div>
    </div>
    @Html.Partial("PartialPopup");
    <section class="content">

        <input type="hidden" value="@ViewBag.BookObjectStr" id="BookObjectStr" />
        <input type="hidden" value="" id="BookRefNum" />
        
        <!-- Your Page Content Here -->
        <div class="col-md-9 col-sm-9">
            <div class="content box">
                <div class="preventDiv" style="width:100%;background: rgba(209, 205, 205, 0.1);height:100%;z-index: 99999999;position: absolute;left: 0px;top: 0px;display:none;"></div>
                <p class="error_message">here is the message</p>
                <div class="col-lg-12" style="margin-bottom:43px;">
                    <div class="row">
                        <div class="col-md-4 textSearchArea">
                            <b class="area_name">Client</b>
                            <div class="">
                                <div id="inputNameClient" class="form-control dest_input search-body example-input"></div>
                            </div>
                            <small class="search_res clientSearch"><img class="icon_search_result" src=@Url.Content("/Content/images/tic.png")><b class="textB">tadbeer</b></small>
                        </div><!--end of col -->

                        <div class="col-md-4 textSearchArea">
                            <b class="area_name">Customer</b>
                            <div class="">
                                <div id="inputNameCustomer" class="form-control dest_input search-body example-input"></div>
                            </div>
                            <small class="search_res customerSearch"><img class="icon_search_result" src=@Url.Content("/Content/images/tic.png")><b class="textB">tadbeer</b></small>
                        </div><!--end of col -->

                        <div class="col-md-4 textSearchArea">
                            <b class="area_name">Department</b>

                            <div class="">
                                <p><div id="inputNameDepartment" class="form-control dest_input search-body example-input"></div></p>
                                <input type="hidden" value="" id="inputIdOfTrip" />
                            </div>
                            <small class="search_res departmentSearch"><img class="icon_search_result" src=@Url.Content("/Content/images/tic.png")><b class="textB">tadbeer</b></small>
                        </div><!--end of col -->

                    </div>
                </div><!--end of col lg 12-->
                <!--search block content end here -->
                <div class="clear"></div>
                <div class="col-md-4">
                    <div class="col-md-12 no-padding date_area_top">
                        <b for="bookDate" class="area_name">Book Start Date</b>
                        <div class="">
                            <p>
                                <input name="bookDate" id="bookDate" class="form-control_custom col-md-1" value="" placeholder="Book Start Date">
                                <input type="hidden" value="" id="inputIdOfTrip" />
                            </p>
                        </div>
                    </div>
                    <small class="date_res"><img class="icon_search_result" src=@Url.Content("/Content/images/tic.png")>This trip wil take place on the <b>13 november 2017</b> from <b>5pm</b> until <b>7pm</b></small>
                </div>

                <div class="col-md-4">
                    <div class="col-md-12 no-padding date_area_top">
                       
                        <b for="bookDate" class="area_name">Contract Type</b>
                        <div id="contractType" class="form-control  col-md-1 dest_input example-input"></div>
                    </div>
                </div>
                
                <div class="clear"></div>
                <div class="col-lg-12" style="margin-top:40px;">
                    <b class="area_name">Start Location</b>
                    <div class="">
                        <div id="inputLocationID" class="form-control dest_input search-body example-input"></div>
                    </div>
                    <small class="search_res StartLocationSearch"><img class="icon_search_result" src=@Url.Content("/Content/images/tic.png")><b class="textB">tadbeer</b></small>
                </div>
                <div class="clear"></div>
                <small class="search_res"><img class="icon_search_result" src=@Url.Content("/Content/images/tic.png")> />This trip wil take place on the <b class="textB">13 november 2017</b> from <b>5pm</b> until <b>7pm</b></small>
                <div class="no-padding col-lg-12 trips" style="margin-top:40px;">
                    <label style="margin-left:15px;" for="trips">Stop(s)</label>
                    <br>
                    <br>
                    <div class="clear"></div>
                    <div id="TripDiv">
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div id="divAddTrip" class="thumbnail trips_box add_trips" onclick="javascript: clearBoxs();">

                                    <img onclick="javascript: clearBoxs();" style="margin-top:105px;margin-bottom:10px; cursor:pointer" src=@Url.Content("/Content/images/pluss.png")>
                                    <span class="add_trip">Add a trip</span>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div id="divTripCreate" class="col-md-12">
                        @{
                            @Html.Partial("PartialTrip", Model.Trips);

                        }
                    </div>
                    <div class="clear"></div>
                    <div class="col-md-6 dest_input_box">
                        <div class="checkbox checkbox-slider--b">
                            <label>
                                <input type="checkbox"  id="RecurringTrip"><span>Recurring Trip</span>
                            </label>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div id="RecDiv">
                        <div class="col-md-4 date_area" style="margin-top:10px;">
                            <div class="col-md-12 no-padding date_area_top">
                                <b for="inputTillDay" id="lblTillDate" class="area_name">Till Day</b>
                                <div class="">
                                    <p>
                                        <input name="inputEndDate" id="inputTillDay" class="form-control_custom col-md-1" value="" placeholder="Till Day">
                                    </p>
                                </div>
                            </div>
                            <small class="date_res"><img class="icon_search_result" src=@Url.Content("/Content/images/tic.png")>This trip wil take place on the <b>13 november 2017</b> from <b>5pm</b> until <b>7pm</b></small>

                        </div>

                        <div class="col-md-12 week_footer_wrapper">
                            <div class="no-padding col-md-12 col-lg-8 col-sm-12" style="margin-top:20px;">
                                <label id="lblSchedule" for="Schedule">
                                    Schedule
                                </label>
                                <div class="week_footer_cover" style="width:100%;height:63%;position:absolute;z-index:10;display:none; background: gainsboro; opacity: 0.4;"></div>
                                <div class="box week_footer">
                                    <ul id="WeekDays">
                                        <li>Sat </li>
                                        <li>Sun </li>
                                        <li>Mon </li>
                                        <li>Tue </li>
                                        <li>Wed </li>
                                        <li>Thu </li>
                                        <li>Fri </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>

                </div>
                <div>

                </div>
                <div class="clear"></div>
                
            </div>
            <div class="clear"></div>
        </div>
        <div class="col-md-3 col-sm-3">
            <div class="content box">
                <h3 class="text-center"><b>TOTAL COST</b></h3>
                <h3 class="text-center" style="color:#4da1ff"><b><span class="total_cost_number">0</span>  AED</b></h3>
                <button class="btn btn-primary btn-md btn-block " id="btnEditPage" type="button">Edit</button>
                <button class="btn btn-primary btn-md btn-block " id="btnSavePage" type="button">Save</button>
                <button class="btn btn-primary btn-md btn-block p_r" id="btnPrint" type="button">Print Offer</button>
                <div class="clear"></div>
                <br />
                <br />
                <div class="report_box">
                    <h5 class="text-center"><b id="activelbl">Active Schedule</b></h5>
                    <ul id="currentActSch">
                        
                    </ul>
                </div>
                <div class="report_box">
                    <h3 class="text-center"><b>HISTORY</b></h3>
                    <ul id="History">
                        @{
                            if (ViewBag.BookHistory != null)
                            {
                                foreach (var item in ViewBag.BookHistory)
                                {
                                    <li id="@item.BookHistoryID">@item.BookRefNumID</li>
                                }
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </section>
                            }
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
    $("#divTripCreate").hide();
    $("#divAddTrip").show();

    $(document).ready(function () {
        $("#divTripCreate").hide();
        $("#divAddTrip").show();
       
        $("#divAddTrip").click(function () {
            $("#divTripCreate").show();
            $("#divAddTrip").hide();
            //showSpanText($(this).text(), 'divTripCreate');
        });
        //var inputValues = new Array();
        //$('inputNameClient').each(function () {
        //    inputValues[$(this).attr('name')] = $(this).val();
        //});
        //$('bookDate').each(function () {
        //    inputValues[$(this).attr('name')] = $(this).val();
        //});
        //$('inputLocationID').each(function () {
        //    inputValues[$(this).attr('name')] = $(this).val();
        //});
        //$('inputTillDay').each(function () {
        //    inputValues[$(this).attr('name')] = $(this).val();
        //});
        //$('inputLocationNm').each(function () {
        //    inputValues[$(this).attr('name')] = $(this).val();
        //});

    });

</script>

<script type="text/javascript" src=@Url.Content("/Content/js/selectivity-jquery.js")></script>
<script src="~/Content/js/Books/editBook.js?v=1.2"></script>
