﻿@using FmtsProj.Common
@using FmtsServices.Model
@{
    ViewBag.Title = "Books";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}

<script type="text/javascript">
    var haspermissiontoEdit = @Common.HasPermissions(Enums.PermissionsEnum.BookingEdit).ToString().ToLower();
</script>
<link rel="stylesheet" href=@Url.Content("/Content/css/font-awesome.min.css")>
<script type="text/javascript" src=@Url.Content("/Content/js/jquery-3.2.1.min.js")></script>
<script type="text/javascript" src=@Url.Content("/Content/js/jsgrid.min.js")></script>
<div class="col-md-12">
    <div class="card">
        <br />
        <div class="content" id="gridContent">
            <div id="jsGrid"></div>
        </div>
    </div>
</div>
<script type="text/javascript" src=@Url.Content("/Content/js/Books/index.js?v=1.00")></script>