﻿@model IEnumerable<FmtsEntity.Book>

@{
    ViewBag.Title = "list";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Refnum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDatetime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TillDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SchedDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client.ClientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.LocName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Refnum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDatetime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TillDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SchedDays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.ClientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location.LocName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BookID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BookID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BookID })
        </td>
    </tr>
}

</table>
