﻿@model IEnumerable<FmtsEntity.Trip>

<script src=@Url.Content("/Content/js/confirmDate.js")></script>
<script src=@Url.Content("/Content/js/Common/CommonMethods.js")></script>
<link href="~/Content/css/confirmDate.css" rel="stylesheet" />

<div class="col-md-12 box_des">
    <p class="error_message_Trip">here is the message</p>
    <div class="col-lg-6 col-md-6 col-sm-6 dest_input_box">
        <label for="dest">Destination</label>
        <div class="">
            <div id="inputDistLocNm" class="form-control dest_input search-body example-input"></div>
        </div>
        <small class="search_res listLocation"><img class="icon_search_result" src=@Url.Content("/Content/images/tic.png")><b class="textB">tadbeer</b></small>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 dest_input_box">
        <label for="dest">Arival Time</label>
        <div class="">
            <input name="inputparArriv" id="inputparArriv" class="form-control_custom" value="" placeholder="Arival Time">
            <input type="hidden" name="prevStop" id="prevStopDate" data-number="" value="" />
        </div>
    </div>
    <div style="clear:both"></div>
    <div class="col-lg-6 col-md-6 col-sm-6 dest_input_box">
        <label for="dest">Vehicle</label>
        <div class="">
            <div id="inputparVehicleNum" class="form-control dest_input search-body example-input driverInput"></div>
            <ul class="nav navbar-nav navbar-right menu_with_icon_stop" style=" float:left;">
                <li class="dropdown" style="float:left;">
                    <a class="dropdown-toggle glyphicon glyphicon-filter" style="float:left;" data-toggle="dropdown"></a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="sr-only" for="partialTagsNameVehical">Filter by Tags</label>
                                        <div id="partialTagsNameVehical" class="selectivity-multiple-input-container"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <small class="search_res inputparVehicleNumSeach"><img class="icon_search_result" src=@Url.Content("/Content/images/tic.png")><b class="textB">tadbeer</b></small>

        <input type="hidden" id="TripID">
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 dest_input_box">
        <label for="dest">Driver</label>
        <div class="">
            <div id="inputparDriver" class="form-control dest_input search-body example-input driverInput"></div>
            <ul class="nav navbar-nav navbar-right menu_with_icon_stop" style=" float:left;">
                <li class="dropdown" style="float:left;">
                    <a class="dropdown-toggle glyphicon glyphicon-filter" style="float:left;" data-toggle="dropdown"></a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="sr-only" for="exampleInputEmail2">Filter by Tags</label>
                                        <div id="partialTagsNameDriver" class="selectivity-multiple-input-container"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <small class="search_res inputparDriverSearch"><img class="icon_search_result" src=@Url.Content("/Content/images/tic.png")><b class="textB">tadbeer</b></small>
        <input type="hidden" id="inputparDriverID">
    </div>

    <div class="clear"></div>

    <div class="col-lg-6 col-md-6 col-sm-6 dest_input_box no-padding">
        <div class="col-md-4">
            @Html.LabelFor(model => model.Last().SalikFees, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Last().SalikFees, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
            @Html.ValidationMessageFor(model => model.Last().SalikFees, "", new { @class = "text-danger" })

        </div>
        <div class="col-md-4">
            @Html.LabelFor(model => model.Last().DriverFees, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Last().DriverFees, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
            @Html.ValidationMessageFor(model => model.Last().DriverFees, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-4">
            @Html.LabelFor(model => model.Last().CarFuelCost, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Last().CarFuelCost, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
            @Html.ValidationMessageFor(model => model.Last().CarFuelCost, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 dest_input_box no-padding">
        <div class="col-md-4">
            @Html.LabelFor(model => model.Last().ParkingFees, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Last().ParkingFees, new { htmlAttributes = new { @class = " form-control", @type = "number" } })
            @Html.ValidationMessageFor(model => model.Last().ParkingFees, "", new { @class = "text-danger" })
            @*<input type="text" name="pfees[]" value="pfees[]" class="fees form-control" placeholder="pfees" />*@
        </div>
        <div class="col-md-4">
            @Html.LabelFor(model => model.Last().Consumption, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Last().Consumption, new { htmlAttributes = new { @class = "form-control" }, @type = "number" })
            @Html.ValidationMessageFor(model => model.Last().Consumption, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-4">
            @Html.LabelFor(model => model.Last().Other, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Last().Other, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
            @Html.ValidationMessageFor(model => model.Last().Other, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-12" style="margin-bottom:30px;">
        <div class="col-md-2 dest_input_box">
            <div class="checkbox checkbox-slider--b D_trip_chk ">
                <label>
                    <input type="checkbox" id="driverTrip"><span>Driver Trip</span>
                </label>
            </div>
        </div>
        <div class="col-md-6 dest_input_box">
            <div class="checkbox checkbox-slider--b">
                <label>
                    <input type="checkbox" id="customerCost"><span>Add cost to the customer offer</span>
                </label>
            </div>
        </div>
        <div class="clear"></div>
    </div>


    <div class="col-md-6 overWriteStrtLoc">
        <label style="color:rgba(255, 143, 0, 0.64)">Override Start Location</label>
        <div class="">
            <div id="overwriteStartLoc" class="form-control dest_input search-body example-input"></div>
            <input class="form-control search-body" placeholder="" type="hidden" id="inputNameClientid" aria-label="Text input with segmented button dropdown">
        </div>
    </div><!--end of col -->
    <div class="clear"></div>
    <div class="col-md-12" style="margin-top: 30px;">
        <div class="col-md-6"><button class="btn btn-primary btn-md btn-block" id="btnParSave" style="border-radius:0px;" type="button">+ Add A Trip</button></div>
        <div class="col-md-6"><button onclick="javascript: cancelEdit();" class="btn btn-primary btn-md btn-block btnParSaveCancelAdd" id="btnParSaveCancel" style="border-radius:0px;" type="button">Cancel</button></div>
    </div>
    <div class="col-md-12 hidden_edit" style="margin-top: 30px;">
        <div class="col-md-6"><button class="btn btn-primary btn-md btn-block" onclick="javascript: saveeditTripBox();" id="btnParSaveEdit" style="border-radius:0px;" type="button">+ Save A Trip</button></div>
        <div class="col-md-6"><button onclick="javascript: cancelEdit();" class="btn btn-primary btn-md btn-block" id="btnParSaveCancel" style="border-radius:0px;" type="button">Cancel</button></div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
    var baseURL = window.location.protocol + "//" + window.location.host + "/";
    $(document).ready(function () {
        
        PartialTripReady();
    });



    function PartialTripReady() {
        $('#partialTagsNameVehical').selectivity({
            allowClear: true,
            multiple: true,
            ajax: {
                url: baseURL + "Tags/FindTagsList",
                minimumInputLength: 0,
                quietMillis: 250,
                params: function (term, offset) {
                    // GitHub uses 1-based pages with 30 results, by default
                    return { q: term, page: 1 + Math.floor(offset / 15), pageSize: 15, parAddFlage: 1 };
                },
                fetch: function (url, init, queryOptions) {
                    return $.ajax(url).then(function (data) {
                        return {

                            results:

                            $.map(data.items, function (item) {
                                return {
                                    id: item.id,//Change it to ID
                                    text: item.text//Change it to Text
                                };
                            }),
                            more: (data.count > queryOptions.offset + data.items.length)
                        };
                    });
                }
            },
            placeholder: 'Tags',
            templates: {
                resultItem: function (item) {
                    return (
                        '<div class="selectivity-result-item" data-item-id="' + item.id + '">' +
                        '<b>' + item.text + '</b><br>' +
                        '</div>'
                    );
                }
            }
        });
        $('#partialTagsNameDriver').selectivity({
            allowClear: true,
            multiple: true,
            ajax: {
                url: baseURL + "Tags/FindTagsList",
                minimumInputLength: 0,
                quietMillis: 250,
                params: function (term, offset) {
                    // GitHub uses 1-based pages with 30 results, by default
                    return { q: term, page: 1 + Math.floor(offset / 15), pageSize: 15, parAddFlage: 1 };
                },
                fetch: function (url, init, queryOptions) {
                    return $.ajax(url).then(function (data) {
                        return {

                            results:

                            $.map(data.items, function (item) {
                                return {
                                    id: item.id,//Change it to ID
                                    text: item.text//Change it to Text
                                };
                            }),
                            more: (data.count > queryOptions.offset + data.items.length)
                        };
                    });
                }
            },
            placeholder: 'Tags',
            templates: {
                resultItem: function (item) {
                    return (
                        '<div class="selectivity-result-item" data-item-id="' + item.id + '">' +
                        '<b>' + item.text + '</b><br>' +
                        '</div>'
                    );
                }
            }
        });
        
        initVehicleNum($('#inputparVehicleNum'),
            vehicalFunctionParamters, false, ValidDate );
        function ValidDate(e) {
            var errorcode = 0;
            if ($("#bookDate").val() == '') {
                errorcode = 1;
                ShowAlertMessage("Error, You must fill Start Booking time", "danger");
                e.preventDefault();
            }

            if (errorcode == 0 && $("#inputparArriv").val() == '') {
                errorcode = 1;
                ShowAlertMessage("Error, You must fill the Arrival Time", "danger");
                e.preventDefault();
            }
        };

        function vehicalFunctionParamters(term, offset) {
            // GitHub uses 1-based pages with 30 results, by default
            //var objId1 = $("#inputIdOfTrip").val();
            var prevStopDate = getPrevDate(counterTripId+1);

            return {
                q: term, page: 1 + Math.floor(offset / 15), pageSize: 15,
                parAddFlage: 1,
                parTagsList: $('#partialTagsNameDriver').selectivity('val'),
                parVehicleNumid: GetIdFromselectivity($('#inputparVehicleNum')),
                parStatDate: prevStopDate,
                parEndDate: $("#inputparArriv").val(),
                parCurrentStopDBId: $("#TripID").val()
            };
        };
        initDriverName($('#inputparDriver'),

            function (term, offset) {
                //var objId1 = $("#inputIdOfTrip").val();
                var prevStopDate = getPrevDate(counterTripId+1);

                // GitHub uses 1-based pages with 30 results, by default
                return {
                    q: term, page: 1 + Math.floor(offset / 15),
                    pageSize: 15, parAddFlage: 1,
                    parTagsList: $('#partialTagsNameVehical').selectivity('val'),
                    parDriverID: $('#inputparDriver').selectivity('val'),//$('#inputparDriver').selectivity('val'),
                    parStatDate: prevStopDate,
                    parEndDate: $("#inputparArriv").val(),
                    parCurrentStopDBId: $("#TripID").val()
                };
            }, false, ValidDate);

        


        $('#inputDistLocNm').selectivity({
            allowClear: true,
            multiple: false,
            ajax: {
                url: baseURL + "Locations/FindLocations",
                minimumInputLength: 0,
                quietMillis: 250,
                params: function (term, offset) {
                    // GitHub uses 1-based pages with 30 results, by default
                    return { q: term, page: 1 + Math.floor(offset / 15), pageSize: 15 };
                },
                fetch: function (url, init, queryOptions) {
                    return $.ajax(url).then(function (data) {
                        return {
                            results: $.map(data.items, function (item) {
                                return {
                                    id: item.id,
                                    text: item.text
                                };
                            }),
                            more: (data.count > queryOptions.offset + data.items.length)
                        };
                    });
                }
            },
            placeholder: '',

        });
        $('#overwriteStartLoc').selectivity({
            allowClear: true,
            multiple: false,
            ajax: {
                url: baseURL + "Locations/FindLocations",
                minimumInputLength: 0,
                quietMillis: 250,
                params: function (term, offset) {
                    // GitHub uses 1-based pages with 30 results, by default
                    return { q: term, page: 1 + Math.floor(offset / 15), pageSize: 15 };
                },
                fetch: function (url, init, queryOptions) {
                    return $.ajax(url).then(function (data) {
                        return {
                            results: $.map(data.items, function (item) {
                                return {
                                    id: item.id,
                                    text: item.text
                                };
                            }),
                            more: (data.count > queryOptions.offset + data.items.length)
                        };
                    });
                }
            },
            placeholder: '',

        });
        $('#driverTrip').click(function () {
            var $this = $(this);
            if ($this.is(':checked') == true) {
                $(".overWriteStrtLoc").hide().slideDown();
            } else {
                $(".overWriteStrtLoc").slideUp();

            }
        });
        $('#inputparArriv').flatpickr({
            enableTime: true,
            dateFormat: "d/m/Y H:i",
            "plugins": [new confirmDatePlugin({})],
            onChange: function (dateobj, datestr) {
                //getDashboardInfo();
            }
        });

    }
    function getPrevDate(id) {
        debugger;
        currid = id;
        var currNext = parseInt(currid, 10) + 1;
        var currPrev = parseInt(currid, 10) - 1;
        var prevStopDate = String($("#stop" + currPrev).find(".tripDateData").text());

        var currentStopDate = $("#inputparArriv").val();

        var nextstopDate = String($("#stop" + currNext).find(".tripDateData").text());

        if (currPrev < 0) {
            prevStopDate = $("#bookDate").val();
        } else {
            prevStopDate = $("#stop" + currPrev).find(".tripDateData").text();
        }
        return prevStopDate;
    }

</script>