﻿@model FmtsEntity.Trip

<div class="col-lg-3 col-sm-6">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="thumbnail trips_box">
                <ul>
                    <div class="btn-group three_dotss" role="group">
                        <img class="dropdown-toggle" aria-haspopup="true" src="images/three_dots.png" data-toggle="dropdown">
                        <ul class="dropdown-menu">
                            <li><a href="#">Edit</a></li>
                        </ul>
                    </div>
                    <li>
                        <img src="images/Pin-Map- Icon.png">
                        <span style="margin-left:7px;">@Model.TripName</span>
                    </li>
                    <li><img src="images/Person avatar.png"><span style="margin-left:7px;">@Model.VehicleID</span></li>
                    <li><img src="images/car avatar.png"><span style="margin-left:7px;">ahmad alsharaira</span></li>
                    <li><img src="images/time confirm avatar.png"><span style="margin-left:7px;">at 6:10pm</span></li>
                </ul>
                <button class="btn btn-primary btn-md btn-block" style="border-radius:0px;" type="button">Cost 70 AED</button>
            </div>
        </div>
    </div>
</div>
