﻿@model FmtsEntity.RouteTrip

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>RouteTrip</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Route.RouteID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Route.RouteID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trip.TripName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trip.TripName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RouteTripID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
