﻿@model IEnumerable<FmtsEntity.RouteTrip>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Route.RouteID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trip.TripName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Route.RouteID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trip.TripName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RouteTripID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RouteTripID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RouteTripID })
        </td>
    </tr>
}

</table>
