﻿@model FmtsServices.Model.LoginModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
    var message = TempData["LoginMessage"] != null ? TempData["LoginMessage"].ToString() : "";
}


<div class="container">
    <div class="card card-container">
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
        <img id="profile-img" class="profile-img-card" src="/Content/images/Logo.png" />
        <p id="profile-name" class="profile-name-card"></p>
        @using (@Html.BeginForm("Login", "Login", FormMethod.Post, new { @class = "form-signin" }))
        {
            @Html.AntiForgeryToken()
            <span id="reauth-email" class="reauth-email"></span>
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Username", @required = "required" })
            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "Password", @required = "required", @type = "password" })
            <div class="row">
                <div class="col-xs-1">@Html.CheckBoxFor(m => m.RememberMe, new { @class = "checkbox", value = "remember-me" })</div>
                <div class="col-xs-5"> <span>Remember me</span></div>
            </div>
            <input type="submit" class="btn btn-lg btn-primary btn-block btn-signin" value="Login" />
            <span class="row text-danger">@message</span>
        }
    </div>
</div>
