﻿@model FmtsServices.Model.LocationModel


@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="form-group">
    @Html.LabelFor(model => model.Number, htmlAttributes: new { @class = "control-label left-label col-md-2" })
    <div class="col-md-9">
        @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label left-label col-md-2" })
    <div class="col-md-9">
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label left-label col-md-2" })
    <div class="col-md-9">
        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.GoogleName, htmlAttributes: new { @class = "control-label left-label col-md-2" })
    <div class="col-md-9">
        @Html.EditorFor(model => model.GoogleName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.GoogleName, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.GPS_Latitude, htmlAttributes: new { @class = "control-label left-label col-md-2" })
    <div class="col-md-9">
        @Html.EditorFor(model => model.GPS_Latitude, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.GPS_Latitude, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.GPS_Longitude, htmlAttributes: new { @class = "control-label left-label col-md-2" })
    <div class="col-md-9">
        @Html.EditorFor(model => model.GPS_Longitude, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.GPS_Longitude, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <div class=" left-label col-md-2">
    </div>
    <div class="col-md-9">
        <input type="submit" value="Save" class="btn btn-primary btn-lg" />
        <button type="button" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("Index")'">Back</button>
    </div>
</div>



