﻿
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}

<section class="content">
    <div class="text-center">
        <div class="col-md-12">
            <div class="col-lg-2 col-md-4 col-sm-4">
                <a class="quick-btn col-md-12 col-sm-12 col-xs-12" href="@Url.Action("Index", "Users")">
                    <div class="thumb">
                        <i class="fa fa-user fa-2x"></i>
                        <span class="row">Users</span>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4">
                <a class="quick-btn col-sm-12 col-xs-12" href="@Url.Action("Index", "Roles")">
                    <div class="thumb">
                        <i class="fa fa-key fa-2x"></i>
                        <span class="row">Roles</span>
                    </div>
                </a>
                </div>
            <div class="col-lg-2 col-md-4 col-sm-4">
                <a  class="quick-btn col-sm-12 col-xs-12" href="@Url.Action("Index", "Customers")">
                    <div class="thumb">
                        <i class="fa fa-users fa-2x"></i>
                        <span class="row">Customers</span>
                    </div>
                </a>
                </div>
            <div class="col-lg-2 col-md-4 col-sm-4">
                <a class="quick-btn col-sm-12 col-xs-12" href="@Url.Action("Index", "Departments")">
                    <div class="thumb">
                        <i class="fa fa-align-justify fa-2x"></i>
                        <div class="col-md-12 no-padding text-center">Departments</div>
                    </div>
                </a>
                </div>
            <div class="col-lg-2 col-md-4 col-sm-4">
                <a  class="quick-btn col-sm-12 col-xs-12"  href="@Url.Action("Index", "Tags")">
                    <div class="thumb">
                        <i class="fa fa-hashtag fa-2x"></i>
                        <span class="row">Tags</span>
                    </div>
                </a>
                </div>
            <div class="col-lg-2 col-md-4 col-sm-4">
                <a class="quick-btn col-sm-12 col-xs-12" style="    padding-top: 50px;" href="@Url.Action("Index", "Locations")">
                    <div class="thumb">
                        <i class="fa fa-location-arrow"></i>
                        <span class="row">Locations</span>
                    </div>
                </a>
                </div>

            </div>
        
    </div>
</section>

