﻿@using FmtsProj.Common
@using FmtsServices.Model
@model FmtsServices.Model.ClientModel


<script type="text/javascript">
    var haspermissiontoEdit = @Common.HasPermissions(Enums.PermissionsEnum.VehiclesEdit).ToString().ToLower();
</script>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="form-group">
    @Html.LabelFor(model => model.ClientName, htmlAttributes: new { @class = "control-label left-label col-md-2" })
    <div class="col-md-9">
        @Html.EditorFor(model => model.ClientName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ClientName, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Adress, htmlAttributes: new { @class = "control-label left-label col-md-2" })
    <div class="col-md-9">
        @Html.EditorFor(model => model.Adress, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Adress, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.PhoneNumaber, htmlAttributes: new { @class = "control-label left-label col-md-2" })
    <div class="col-md-9">
        @Html.EditorFor(model => model.PhoneNumaber, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.PhoneNumaber, "", new { @class = "text-danger" })
    </div>
</div>


<div class="form-group">
    <div class=" left-label col-md-2">
    </div>
    <div class="col-md-9">
        <input type="submit" value="Save" class="btn btn-primary btn-lg" />
        <button type="button" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("Index")'">Back</button>
    </div>
</div>


