﻿@using FmtsProj.Common
@using FmtsServices.Model
@model FmtsServices.Model.ClientModel
@{
    ViewBag.Title = "Clients";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}


<script type="text/javascript">
    var haspermissiontoEdit = @Common.HasPermissions(Enums.PermissionsEnum.VehiclesEdit).ToString().ToLower();
</script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />

        @Html.Partial("_CreateEdit", @Model)

    </div>
}