﻿<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <b class="area_name" style="float:left; width:20%">Client Name</b>
                    <input name="inputClientName" id="inputClientName" style="float:left; width:80%" class="form-control_custom" value="" placeholder="Client">
                </div>
                <div class="row">
                    <b class="area_name" style="float:left; width:20%">Adress</b>
                    <input name="Adress" id="inputAdress" style="float:left; width:80%" class="form-control_custom" value="" placeholder="Adress">
                </div>
                <div class="row">
                    <b class="area_name" style="float:left; width:20%">Phone Number</b>
                    <input name="inputPhoneNum" id="inputPhoneNum" style="float:left; width:80%" class="form-control_custom" value="" placeholder="Phone Number">
                </div>
                <div class="row">
                    <button type="button" style="float:left;" class="btn btn-default">Add New Client</button>
                    <button type="button" style="float:left;" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>

            </div>
        </div>
    </div>
</div>