﻿@model FmtsEntity.Trip

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}

<h2>Trip</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TripType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TripType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartLocName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartLocName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndLocName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndLocName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RepeatEvery)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepeatEvery)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OccursOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OccursOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rec_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rec_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Book.BookID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.BookID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vehicle.VehicleBrand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehicle.VehicleBrand)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TripID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
