﻿@model IEnumerable<FmtsEntity.Trip>

@{
    ViewBag.Title = "Make a Booking";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TripType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.LocName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RepeatEvery)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OccursOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rec_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book.BookID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehicle.VehicleStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TripType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location.LocName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RepeatEvery)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OccursOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rec_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Book.BookID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vehicle.Make)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TripID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TripID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TripID })
        </td>
    </tr>
}

</table>
