﻿@model FmtsEntity.Vehicle

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VehicleNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeatCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeatCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleColor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MakeYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MakeYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChasisNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChasisNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Make)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Make)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Owner.OwnerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner.OwnerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleOwner.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleOwner.Type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
