﻿@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}

<style>
    .selectivity-results-container {
        max-height: 28em;
        overflow: auto;
        position: relative;
        width: 318px;
        background: #FFF;
    }

    .selectivity-dropdown {
        background: #fff;
        border-radius: 4px;
        box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.15), 0 10px 16px 0 rgba(0, 0, 0, 0.2);
        position: fixed;
        z-index: 1046;
        width: 317.988px !important;
    }
</style>
<section class="content">
    <!-- Your Page Content Here -->
    <script src=@Url.Content("/Content/js/confirmDate.js")></script>
    <script src=@Url.Content("/Content/js/Common/CommonMethods.js")></script>
     @Html.Partial("~/Views/Shared/PartialPopup.cshtml")
    <link href="~/Content/css/confirmDate.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
    <script src="https://unpkg.com/flatpickr"></script>
    <div class="col-md-12" style="margin-top:23px;">
        <div class="filter_input">
            <div class="col-lg-1 col-md-1 col-sm-12"><a id="Filterid"><img src="~/Content/images/filters.jpg" class="filter_image"></a></div>
            <div class="clear hidden-lg hidden-md" style="margin-bottom: 16px;"></div>
            <!-- <img src="images/filter.png" width="682" /> -->
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                    <label for="dest" >From Date</label>
                
                    <input name="fromdate" id="fromDate" class="form-control_custom col-lg-1 col-md-6" data-id="confirmDate" value="@ViewBag.fromDate" placeholder="From Date">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                    <label for="dest">To Date</label>
                    <input name="todate" id="toDate" class="form-control_custom col-lg-1 col-md-6" data-id="confirmDate" value="@ViewBag.ToDate" placeholder="To Date">
                </div>
                <div class="clear hidden-lg hidden-md hidden-xs" style="margin-top:30px;"></div>
                <div class="clear hidden-lg"></div>
                <div class="no-padding-tablet col-lg-8 col-md-8 col-sm-12">
                    <div class="no-padding col-lg-4 col-md-4 col-sm-4">
                        <label for="dest">Client</label>
                        <div class="">
                            <div id="inputNameClient" class="form-control dest_input search-body example-input client_width_dev"></div>

                        </div>
                        <small class="search_res clientSearch"><img class="icon_search_result" src=@Url.Content("/Content/images/tic.png")><b class="textB">tadbeer</b></small>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <label for="dest">Vehicle</label>
                        <div class="row">
                            <div id="inputNameVehicle" class="form-control dest_input search-body example-input vec_dash"></div>
                            @*<div id="inputNameVecGly" class="form-control dest_input search-body example-input"></div>*@
                            <ul class="nav navbar-nav navbar-right menu_with_icon" style="float:left;">
                                <li class="dropdown">
                                    <a class="dropdown-toggle glyphicon glyphicon-filter" style="width:3%; float:left;" data-toggle="dropdown"></a>
                                    <ul class="dropdown-menu" >
                                        <li>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="sr-only" for="TagsNameDriver">Filter by Tags</label>
                                                        <div id="TagsNameVehicle" ></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        @*<small class="search_res clientSearch"><img class="icon_search_result" src=@Url.Content("/Content/images/tic.png")><b class="textB"></b></small>*@
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <label for="dest">Drivers</label>
                        <div class="row">
                            <div id="inputNameDriver" class="form-control dest_input search-body example-input driver_dash"></div>
                            <ul class="nav navbar-nav navbar-right menu_with_icon menu_with_icon_driver" style=" float:left;" >
                                <li class="dropdown"  style="float:left;" >
                                    <a class="dropdown-toggle glyphicon glyphicon-filter" style="width:3%; float:left;" data-toggle="dropdown"></a>
                                    <ul class="dropdown-menu" >
                                        <li>
                                            <div class="row">
                                                <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="sr-only" for="exampleInputEmail2">Filter by Tags</label>
                                                            <div id="TagsNameDriver"></div>
                                                        </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        @*<small class="search_res clientSearc h"><img class="icon_search_result" src=@Url.Content("/Content/images/tic.png")><b class="textB"></b></small>*@
                    </div>
                </div>
            </div>

            <div class="clear"></div>
        </div>
            <div class="clear hidden-lg"></div>
            <div class=" no-padding col-md-1 col-sm-12" style="margin-top:32px;">
                <button type="button" id="btnClear" onclick="javascript: restBoxes();" class="btn btn-primary btn-md btn-block">Reset</button>
            </div>
            <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <input type="hidden" id="hfCustomer" name="CustomerId" />
    <div class="col-md-12" style="margin-top:23px;">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="trips_icon col-md-12">
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <img src=@Url.Content("/Content/images/util.png") width="45" class="trips_box_icon" />
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                        <h4 class="trips_box_title">Overall Utilization</h4>
                        <p>
                            <h3 class="trips_box_number" id="OverallNumber">0%</h3>
                            <div id="loaderOverall">
                                <div class="centerd">
                                    <img src=@Url.Content("/Content/images/load.gif") alt="Alternate Text" width="60" />
                                </div>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="trips_icon col-md-12">
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <img src=@Url.Content("/Content/images/peap.png") width="45" class="trips_box_icon" />
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                        <h4 class="trips_box_title">Drivers Utilization</h4>
                        <p>
                            <h3 class="trips_box_number" id="DriversNumber"></h3>
                            <div id="loaderDrivers">
                                <div class="centerd">
                                    <img src=@Url.Content("/Content/images/load.gif") alt="Alternate Text" width="60" />
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="trips_icon col-md-12">
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <img src=@Url.Content("/Content/images/big_car.png") width="45" class="trips_box_icon" />
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-9">
                        <h4 class="trips_box_title">Vehicles Utilization</h4>
                        <p>
                            <h3 class="trips_box_number" id="VehiclesNumber">0%</h3>
                            <div id="loaderVehicles">
                                <div class="centerd">
                                    <img src=@Url.Content("/Content/images/load.gif") alt="Alternate Text" width="60" />
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="trips_icon col-md-12">
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <img src=@Url.Content("/Content/images/req.png") width="45" class="trips_box_icon" />
                    </div>
                    <a href='javascript:void(0)' onclick="UnassignedBookings()" >
                    <div class="col-md-9 col-sm-9 col-xs-9">
                        <h4 class="trips_box_title">Unassigned Bookings</h4>
                        <p>
                            <h3 class="trips_box_number" id="UnassignedNumber">0</h3>
                            <div id="loaderUnassigned">
                                <div class="centerd">
                                    <img src=@Url.Content("/Content/images/load.gif") alt="Alternate Text" width="60" />
                                </div>
                            </div>
                    </div>
                        </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 map_trip" style="margin-top:5px;">
        <div class="trips_maps">
            <h4 class="box_titles">BOOKINGS</h4>
            <hr class="line_under_title" />
            <div class="pull-right tabs_m">
                <ul>
                    <li class="map_tab tabActive">Map</li>
                    <li class="map_table">Table</li>
                </ul>
            </div>
            <div class="clear"></div>
            <div class="col-md-12 no-padding g_map">
                <img src=@Url.Content("/Content/images/map.png") class="img-responsive" />
            </div>

            <div class="t_table">
                <div id="loaderBooks">
                    <div class="centerd">
                        <img src=@Url.Content("/Content/images/load.gif") alt="Alternate Text" width="60" />
                    </div>
                </div>
                <table id="bookTable" class="table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Book Ref Num</th>
                            <th>Client Name</th>
                            <th>Start Location</th>
                            <th>End Location</th>
                            <th>End Date</th>
                            <th>Sched Days</th>
                        </tr>
                    </thead>
                    <tbody id="tbbook"></tbody>
                </table>

            </div>


        </div>
    </div>

    <div class="col-md-12" style="margin-top:23px;">
        <div class="">
            <h4>AVAILABLE DRIVERS</h4>
            <hr class="line_under_title" />
            <div class="clear"></div>
            <div class="row">
                <div id="loaderDriversItem">
                    <div class="centerd">
                        <img src=@Url.Content("/Content/images/load.gif") alt="Alternate Text" width="60" />
                    </div>
                </div>
                <div class="multiple-items drivers_item" id="driversItem">
                </div>

            </div><!--slider end-->
        </div>
    </div>
    <div class="col-md-12" style="margin-top:23px; margin-bottom: 50px;">
        <div class="">
            <h4>AVAILABLE VEHICLES</h4>
            <hr class="line_under_title" />
            <div class="clear"></div>
            <div class="row">
                <div id="loaderVehiclesItem">
                    <div class="centerd">
                        <img src=@Url.Content("/Content/images/load.gif") alt="Alternate Text" width="60" />
                    </div>
                </div>
                <div class="multiple-items vec_item" id="vehicleItem">
                </div>
            </div>
        </div>
        <div id="dialog" style="display: none"></div>
</section>

<script id="bookTemplate" type="text/x-jquery-tmpl">
    <tr id="myTableRow">
        <td id="${BookID}"><a href="/Books/Edit?parBookScheduleId=${BookID}">${BookRef}</a></td>
        <td>${ClientName}</td>
        <td>${StartLocation}</td>
        <td>${EndLocation}</td>
        <td>${TillDate}</td>
        <td>${SchedDays}</td>
    </tr>
</script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script src=@Url.Content("/Content/js/dashboard.js?v=1.21")></script>

