﻿
@{
    ViewBag.Title = "Notifications";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}
<script type="text/javascript">
    var DashboardFilter = '@ViewBag.Filter';
</script>

<div class="content" id="gridContent">
    <div id="jsGrid"></div>
</div>


<link rel="stylesheet" href=@Url.Content("/Content/css/font-awesome.min.css")>
<script type="text/javascript" src=@Url.Content("/Content/js/jquery-3.2.1.min.js")></script>
<script type="text/javascript" src=@Url.Content("/Content/js/jsgrid.min.js")></script>
<script type="text/javascript" src=@Url.Content("/Content/js/selectivity-jquery.js")></script>

<script type="text/javascript" src=@Url.Content("/Content/js/Dashboard/index.js?v=1.01")></script>

