﻿@model IEnumerable<FmtsEntity.Trip>
@{
    ViewBag.Title = "Book Detials";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TripName)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RepeatEvery)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OccursOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rec_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalikFees)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DriverFees)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarFuelCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParkingFees)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Consumption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Other)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Book.Refnum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location.LocName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehicle.VehicleNum)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TripName)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RepeatEvery)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OccursOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rec_Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalikFees)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DriverFees)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarFuelCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkingFees)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Consumption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Other)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Refnum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.LocName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.VehicleNum)
            </td>
        </tr>
    }

</table>
