﻿.skin-blue .main-header .navbar .nav > li > a {
    margin-right: 20px;
}


.main-header .logo {
    height: 58px;
}

.btn-primary {
    background-color: #4da1ff;
    border-color: #4da1ff;
    height: 46px;
}
#inputparDriver, #inputparVehicleNum {
    width: 89%;
    float: left;
}
.sidebar-menu > li > a {
    padding: 12px 15px 12px 10px;
}

.create_new {
    margin-top: 20px;
    display: block;
    margin-left: 8px;
    font-size: 19px;
    color: #24afff;
}

.refNumbers {
    display:none;
}

.personImage, .destBoxData, .carImage, .trips_box_title {
    margin-left: 7px;
    display: inline-block;
    width: 142px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    position: relative;
    top: 9px;
}

.deleteBtn {
    display:none;
}




.menu_with_icon_stop {
    width: 10%;
    float: left;
    position: relative;
    right: 0px;
    background: #f7f7f7;
    text-align: center;
    padding: 0px !important;
    margin: 0px !important;
}

.flatpickr-calendar.animate.open {
    z-index: 9999999999999 !important;
}

.selectivity-single-selected-item-remove {
    color: #000;
    float: right;
    padding: 0 5px;
    position: absolute;
    top: -3px;
    z-index: 999;
    right: 7px;
}

.main-header .sidebar-toggle {
    float: left;
    background-color: transparent;
    background-image: none;
    padding: 15px 15px;
    font-family: fontAwesome;
    height: 59px;
    font-size: 20px;
    margin-top: 10px;
}

.plus_image {
    position: absolute;
    top: 27px;
    z-index: 1000000;
    right: 17px;
    width: 23px;
    border: 1px solid #CCC;
    border-top: 0px;
    border-right: 0px;
    box-shadow: 0px 0px 4px #CCC;
    border-radius: 0px 4px 0px 0px;
    cursor: pointer;
}

.minus_image {
    position: absolute;
    bottom: 2px;
    z-index: 1000000;
    right: 17px;
    width: 23px;
    border: 1px solid #CCC;
    border-top: 0px;
    border-right: 0px;
    box-shadow: 0px 0px 4px #CCC;
    border-radius: 0px 0px 4px 0px;
    cursor: pointer;
}

.form-control_custom {
    display: block;
    width: 100%;
    height: 50px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #E9EFF4;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    z-index: 2;
    margin-left: -1px;
    height: 50px;
}

.form-control {
    display: block;
    width: 100%;
    height: 50px;
}

.skin-blue .main-header .navbar .sidebar-toggle {
    color: #4da1ff;
    box-shadow: 0px 0px 0px #FFF;
}

.skin-blue .main-header .logo:hover {
    background-color: #ffffff;
}


.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #FFF;
}

.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a {
    color: #000;
    background: #ffffff;
    border-left-color: #3c8dbc;
}

.menu-icon {
    padding-right: 30px;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
    color: #fff !important;
    background-color: #4da1ff !important;
    border-color: #4da1ff !important;
}

.btn-primary.focus, .btn-primary:hover, .btn-primary:active.blue {
    color: #fff !important;
    background-color: #4da1ff !important;
    border-color: #4da1ff !important;
}

.autoMenuShow {
    left: auto !important;
    top: auto !important;
}

@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .content-wrapper, .sidebar-mini.sidebar-collapse .right-side, .sidebar-mini.sidebar-collapse .main-footer {
        margin-left: 88px !important;
        z-index: 840;
    }
}

@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .main-header .logo {
        width: 89px;
        border: 1px solid #eaedee;
        border-left: none;
        border-bottom: none;
        border-top: none;
    }
}

@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .main-header .navbar {
        margin-left: 89px;
    }
}

@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .main-header .logo > .logo-mini {
        display: block;
        margin-left: -15px;
        margin-right: -15px;
        font-size: 27px;
        margin-top: 7px;
    }
}

.main-header .logo {
    height: 78px;
}

.logo img {
    margin-top: 17px;
}

.menu-icon {
    padding-right: 30px;
    padding-left: 19px;
    padding-bottom: 14px;
    padding-top: 22px;
    width: 78px;
}

.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a {
    /*padding-right: 76px;*/
}

.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu > li.header {
    white-space: nowrap;
    overflow: hidden;
    padding-right: 88px;
}

.main-header .navbar .nav > li > a > .label {
    font-size: 16px;
}

.button-book-t {
    height: 29px;
    line-height: 13px;
    padding-right: 40px;
    padding-left: 40px;
}

.rec_trip {
    padding: 0px;
    margin: 0px;
    display: inline-block;
    margin-left: 31px;
}

    .rec_trip li {
        display: inline-block;
        margin-right: 38px;
        cursor: pointer;
        color: #989898;
        font-family: ".SF NS Text";
        font-size: 13px;
    }

.rec_trip_active {
    color: #4DA1FF !important;
}

.btn-primary > a {
    color: #FFF !important;
}

.button-book-t:focus {
    background-color: #4da1ff !important;
    color: #FFF;
}


.button-export-r {
    box-sizing: border-box;
    height: 29px;
    width: 129px;
    border: 1px solid rgba(77,161,255,0.7);
    border-radius: 2px;
    background: url(../images/download.png) no-repeat 8px 8px #FFFFFF;
    color: rgba(77,161,255,0.74);
    font-size: 11px;
    line-height: 13px;
    margin-right: 22px;
    margin-left: 17px;
    background-size: 15px;
}

    .button-export-r:hover {
        background-color: #FFF !important;
        border: 1px solid rgba(77,161,255,0.7);
        color: rgba(77,161,255,0.74);
    }

    .button-export-r:focus {
        background-color: #FFF !important;
        color: rgba(77,161,255,0.74);
    }


.search_header {
    height: 40px;
    margin-top: 17px;
    border: 0px;
    text-indent: 50px;
    background: url("images/search-icon.png") no-repeat 33px 10px;
}

.search-body {
    text-indent: 30px;
    background: url("images/search-icon.png") no-repeat 12px 5px;
}

.content-header > h1 {
    margin: 0;
    font-size: 38px;
    padding: 30px;
    padding-bottom: 0px;
    padding-left: 13px;
    color: #4a90e2;
}

.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
    position: absolute;
    right: 19px;
    left: auto;
}

@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span {
        /*top: 0;
        margin-left: 37px;
        padding: 12px 5px 12px 20px;
        background-color: inherit;
        z-index: 100000000;*/
    }
}




@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span {
        /*top: 9px;
        margin-left: 37px;
        padding: 12px 5px 12px 20px;
        background-color: inherit;
        z-index: 100000000;
        background: #4da1ff;
        color: #FFF;*/
    }
}

.skin-blue .main-header .navbar {
    background-color: #FFF;
}

.skin-blue .main-header .logo {
    background-color: #FFF;
    color: #fff;
    border-bottom: 0 solid transparent;
}

.search_res {
    margin-top: 10px;
}

.date_res {
    margin-left: 0px;
    margin-top: 10px;
}

.icon_search_result {
    margin-right: 10px;
}

b.area_name {
    /*margin-left: 13px;*/
    margin-top: 14px;
    display: block;
    margin-bottom: 19px;
}

b.area_name_form {
    margin-top: 14px;
    display: block;
    margin-bottom: 19px;
}

.flatpickr-confirm {
    height: 40px;
    max-height: 0px;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #f4f4f4;
}

    .flatpickr-confirm svg path {
        fill: inherit;
    }

    .flatpickr-confirm.darkTheme {
        color: white;
        fill: white;
    }

    .flatpickr-confirm.visible {
        max-height: 40px;
        visibility: visible
    }
.clear {
    clear: both;
}

.no-padding {
    padding: 0px !important;
}

.date_area {
    margin-top: 30px;
}

.trips_box {
    padding: 0px;
    margin: 0px;
    margin-bottom: 20px;
}

    .trips_box ul {
        padding: 10px;
        margin: 0px;
        list-style: none;
    }

        .trips_box ul li {
            border-bottom: 1px solid #CCC;
            padding-bottom: 8px;
            padding-top: 8px;
        }

            .trips_box ul li:last-child {
                border: none !important;
            }

.week_footer {
    padding: 0px !important;
    margin: 0px !important;
}

    .week_footer ul {
        list-style: none !important;
        padding: 10px !important;
        margin: 0px !important;
    }

        .week_footer ul li {
            display: inline-block !important;
            margin-right: 10px !important;
            margin-left: 10px !important;
            width: 7%;
            text-align: right;
            background: url(../images/DTic.png) no-repeat 3px 2px;
            padding-left: 27px;
            cursor: pointer;
        }

.week_day_active {
    background: url(../images/TTic.png) no-repeat 3px 2px !important;
}

.week_footer ul li img {
    margin-right: 10px !important;
}

.content {
    /* min-height: 1200px!important; */
    padding-bottom: 47px;
}

.skin-blue .sidebar-form input[type="text"], .skin-blue .sidebar-form .btn {
    box-shadow: none;
    background-color: #FFF;
    border: 3px solid #FFF;
    height: 35px;
}

.skin-blue .sidebar-form {
    border-radius: 3px;
    border: 1px solid #4da1ff;
    margin: 10px 10px;
}

.skin-blue .main-header .logo {
    background-color: #FFF !important;
    color: #fff;
    border-bottom: 0 solid transparent;
}


.three_dotss {
    z-index: 1000000;
    position: absolute;
    float: right;
    right: 23px;
    top: 0px;
}

    .three_dotss ul {
        padding: 0px;
        margin: 0px;
        min-width: 60px !important;
    }


.three_dotsss {
    z-index: 999;
    position: absolute;
    float: right;
    right: 23px;
    top: 0px;
}

    .three_dotsss ul {
        padding: 0px;
        margin: 0px;
        min-width: 104px !important;
        border-radius: 6px;
        box-shadow: 0 2px 9px 0 rgba(0,0,0,0.16);
    }

        .three_dotsss ul li:first-child {
            background: url(../images/edit.png) no-repeat 7px 7px;
        }

.dropdown-menu > li > a {
    display: block;
    padding: 0px 12px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.report_box {
    margin-top: 72px;
}

    .report_box ul {
        padding: 0px;
        margin: 0px;
        list-style: none;
    }

        .report_box ul li {
            height: 16px;
            color: #4DA1FF;
            font-size: 13px;
            font-weight: bold;
            line-height: 16px;
            text-align: center;
            padding-top: 4px;
            padding-bottom: 12px;
            margin-top: 16px;
        }



.save {
    height: 45px;
    border-radius: 2px;
    background-color: #97C66B !important;
    border-color: #97C66B !important;
}


    .save.active.focus, .save:hover, .save.active:focus, .save.active:hover, .save:active.focus, .save:active:focus, .save:active:hover, .open > .dropdown-toggle.save.focus, .open > .dropdown-toggle.save:focus, .open > .dropdown-toggle.save:hover {
        color: #fff !important;
        background-color: #97C66B !important;
        border-color: #97C66B !important;
    }

.cancel.active.focus, .cancel:hover, .cancel:focus, .cancel.active:focus, .cancel.active:hover, .cancel:active.focus, .cancel:active:focus, .cancel:active:hover, .open > .dropdown-toggle.cancel.focus, .open > .dropdown-toggle.cancel:focus, .open > .dropdown-toggle.cancel:hover {
    color: #97C66B !important;
    background-color: #FFF !important;
    background: none !important border-color: #97C66B!important;
    border: none !important
}

.cancel {
    background: none !important;
    color: #97C66B !important;
    border: none !important;
}

.save_cancel {
    margin-top: 80px;
}

.search_header {
    height: 40px;
    margin-top: 17px;
    border: 0px;
    text-indent: 50px;
    background: url("../images/search-icon.png") no-repeat 33px 10px;
}

.search-body {
    text-indent: 30px;
    background: url("../images/search-icon.png") no-repeat 12px 14px;
}

.p_r {
    background: url(../images/print.png) no-repeat 34% 50% #FFF;
    color: #4da1ff;
    border: 2px solid #4da1ff;
}

.add_trips {
    border-color: #4da1ff !important;
    cursor: pointer;
}

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0px 0px 12px #e4e0e0;
    border-top: 0px;
}

.box_des {
    box-sizing: border-box;
    padding-bottom: 23px;
    border: 1px solid rgba(77,161,255,0.7);
    border-radius: 2px;
}

.dest_input {
    box-sizing: border-box;
    border: 1px solid #E9EFF4;
    border-radius: 5px;
    background-color: #FFFFFF
}

.add_trip {
    text-align: center;
    margin-bottom: 90px;
    display: block;
}

.dest_input_box {
    margin-top: 30px;
}

.dropdown-menu > li > a {
    color: #4da1ff !important;
}

    .dropdown-menu > li > a:hover {
        background: none !important;
        color: #4da1ff !important;
    }

.content-wrapper, .right-side {
    min-height: 100%;
    background-color: #f4f8f9;
    z-index: 800;
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .no-padding-field {
        padding: 0px;
        margin: 0px;
    }
    .menu_with_icon_stop li {
        background: #f7f7f7!important;
    }
    .no-padding-tablet {
        padding: 0px;
        margin: 0px;
    }
    .quick-btn {
        font-size: 28px!important;
    }

    .menu_with_icon {
        width: 18%;
        float: left;
        position: relative;
        right: 18px!important;
        background: #f7f7f7;
        text-align: center;
        padding: 0px !important;
        margin: 0px !important;
    }

    .menu_with_icon {
        right: 8px !important;
    }
    .vec_dash, .driver_dash {
        width: 77% !important;
        float: left !important;
    }
    .filter_image {
        width: 47px;
        float: left;
        margin-top: 17px;
        margin-left: 15px;
    }

    .c_b {
        font-size: 8px;
    }

    .p_r {
        font-size: 10px;
    }

    .content-header > h1 {
        font-size: 26px !important;
    }
}

.menu_with_icon {
    width: 18%;
    float: left;
    position: relative;
    right: 25px;
    background: #f7f7f7;
    text-align: center;
    padding: 0px!important;
    margin: 0px!important;
}
    .menu_with_icon .open > a, .menu_with_icon.open > a:focus, .menu_with_icon .open > a:hover {
        background: #f7f7f7!important;
    }

.modal-body {
    position: relative;
    padding: 32px;
    padding-top: 0px;
}
.selectivity-multiple-input, input[type='text'].selectivity-multiple-input {
    background-color: transparent;
    border: none;
    float: left;
    font: inherit;
    /* height: calc(2em + 4px); */
    max-width: 100%;
    outline: 0;
    padding: 0;
    height: 17px!important;
}

.flatpickr-confirm {
    height: 40px;
    max-height: 0px;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #e7e7e7!important;
}


@media screen and (min-device-width: 320px) and (max-device-width: 766px) {
    .company_info {
        text-align: center;
    }
    .menu_with_icon {
        right: -1px !important;
        height: 49px;
    }
    .selectivity-single-result-container {
        position: absolute;
        top: 9px;
        right: 15px!important;
        left: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    #inputparDriver, #inputparVehicleNum {
        width: 82%!important;
        float: left;
    }

    ul.menu_with_icon_stop li {
        position: relative;
        display: block;
        background: #f4f4f4 !important;
        height: 49px !important;
    }
    .company_info_image {
        text-align: center;
    }
    .vec_dash, .driver_dash {
        width: 82%!important;
        float: left;
    }

    .client_width_dev {
        width: 100%!important;
    }
    .selectivity-multiple-input-container {
        clear: both;
    }
    .filter_image {
        width: 47px;
        float: left;
        margin-top: 17px;
        margin-left: 15px;
    }

    .input-group {
        position: relative;
        display: table;
        border-collapse: separate;
        margin-bottom: 20px;
    }

    .no-padding-field {
        padding: 0px;
        margin: 0px;
    }

    .date_info {
        font-size: 18px !important;
    }

    .cmp_stat ul li {
        width: 33% !important;
    }

    .button-book-t {
        margin-top: 23px !important;
        width: 123px;
        text-align: center;
        padding: 0px;
        /* text-indent: 11px; */
    }

    .button-export-r {
        margin-top: 23px !important;
    }

    .content-header > h1 {
        font-size: 29px !important;
    }

    .notific {
        width: 36px;
    }

    .skin-blue .sidebar-form {
        border-radius: 3px;
        border: 1px solid #4da1ff;
        margin: 10px 10px;
        margin-top: 43px;
    }

    .content {
        min-height: 250px !important;
    }

    .line_beside_line {
        width: 62% !important;
    }


    .button-export-r {
        box-sizing: border-box;
        height: 29px;
        width: 41%;
        border: 1px solid rgba(77,161,255,0.7);
        border-radius: 2px;
        background-color: #FFFFFF;
        color: rgba(77,161,255,0.74);
        font-family: ".SF NS Text";
        font-size: 11px;
        line-height: 13px;
        margin-right: 22px;
        margin-left: 17px;
    }

    .tabs_m {
        width: 100% !important;
        margin-top: 17px !important;
    }
}

.trips_icon {
    min-height: 113px;
    border-radius: 6px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 9px 0 rgba(0,0,0,0.02);
    margin-bottom: 20px;
}

.trips_box_icon {
    margin-top: 34px;
    width: 38px;
}

.trips_box_title {
    color: #323C47;
    font-size: 14px;
    margin-top: 31px;
}

.checkbox-slider--b input + span {
    padding-left: 26px!important;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #FFF!important;
    opacity: 1;
}
.trips_box_number {
    color: #FF6D4A;
    font-size: 24px;
    float: left;
    line-height: 1px;
}

.trips_box_day {
    color: rgba(50,60,71,0.4);
    font-size: 19px;
    margin-top: 12px;
    display: inline-block;
    margin-left: 6px;
}

.filter_input {
    min-height: 59px;
    background: #FFF;
    padding: 20px;
}

.line_under_title {
    width: 52px;
    height: 4px;
    text-align: left;
    float: left;
    margin-top: 0px;
    border-radius: 2px;
    background-color: #4DA1FF;
}

.line_beside_line {
    height: 5px;
    width: 17%;
    opacity: 0.33;
    border-radius: 2px;
    background-color: #9B9B9B;
    box-shadow: 1px 2px 17px 0 rgba(0,0,0,0.05);
    float: left;
    margin-left: 59px;
    line-height: 0px;
    margin-top: 0px;
}


.time_driver {
    color: #4DA1FF;
    margin-top: 0px;
    line-height: 4px;
}

.driver_number {
    line-height: 20px;
    color: #897f7f;
}

.driver_info_box_left {
    box-sizing: border-box;
    border: 1px solid #E9EFF4;
    border-radius: 5px 0px 0px 0px;
    margin-top: 15px;
}


.driver_info_box_right {
    box-sizing: border-box;
    border: 1px solid #E9EFF4;
    border-left: none;
    border-radius: 0px 5px 0px 0px;
    margin-top: 15px;
}

.done_trpis {
    color: #323C47;
    font-family: ".SF NS Text";
    font-size: 14px;
    line-height: 13px;
    padding: 3px;
    padding-bottom: 0px;
    margin-top: 6px;
}


.numb_done_trp {
    color: #4DA1FF;
    font-family: ".SF NS Display";
    font-size: 17px;
    line-height: 26px;
    padding-left: 6px;
}

.numb_done_trp_def {
    color: #FF6D4A;
    font-family: ".SF NS Display";
    font-size: 17px;
    line-height: 26px;
    padding-left: 6px;
}

.drv_uti {
    margin-bottom: 30px;
    box-sizing: border-box;
    border: 1px solid #E9EFF4;
    border-radius: 5px;
}

    .drv_uti img {
        width: 100%;
    }

.slick-prev {
    left: -7px;
}

.slick-next {
    right: -8px;
}

.tabs_m {
    padding: 0;
    margin: 0;
}

    .tabs_m ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

        .tabs_m ul li {
            display: inline-block;
            margin-left: 7px;
            cursor: pointer;
            margin-right: 17px;
            height: 34px;
            width: 86px;
        }

            .tabs_m ul li.map_table {
                background-image: url(../images/table_unactive.png);
                background-repeat: no-repeat;
                background-position: 4px 9px;
                background-size: 17px;
            }

            .tabs_m ul li.map_tab {
                background-image: url(../images/map_active.png);
                background-repeat: no-repeat;
                background-position: 4px 9px;
                background-size: 17px;
            }

.t_table {
    display: none;
}

.tabs_m {
    height: 44px;
    width: 224px;
    border-radius: 4px;
    background-color: rgba(233,239,244,0.48);
    position: relative;
    top: -19px;
    padding-top: 5px;
    text-align: center;
    line-height: 33px;
}

.tabActive {
    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 9px 0 rgba(0,0,0,0.03);
}

.cus_info {
    min-height: 127px;
    border-radius: 6px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 9px 0 rgba(0,0,0,0.02);
}

.cmp_title {
    color: #323C47;
    font-family: ".SF NS Text";
    font-size: 17px;
    line-height: 6px;
    margin-top: 50px;
}

.cmp_stat {
    padding: 0;
    margin: 0;
}

    .cmp_stat ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .cmp_stat ul li {
            border: 1px solid #e9eff4;
            float: left;
            width: 20%;
            text-align: center;
            margin-top: 34px;
        }

            .cmp_stat ul li:first-child {
                border-top: 0px !important;
                border-left: 0px !important;
                border-right: 0px !important;
            }

            .cmp_stat ul li:last-child {
                border-top: 0px !important;
                border-left: 0px !important;
                border-right: 0px !important;
            }

            .cmp_stat ul li:nth-child(1n+1) {
                border-top: 0px !important;
            }

.title_info {
    color: #323C47;
    font-family: ".SF NS Text";
    font-size: 11px;
    line-height: 13px;
}

.number_info {
    color: #4DA1FF;
    font-family: ".SF NS Display";
    font-size: 20px;
    line-height: 26px;
}

.date_info {
    color: #000000;
    font-family: ".SF NS Display";
    font-size: 20px;
    line-height: 26px;
}

.book_ref_box {
    min-height: 127px;
    border-radius: 6px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 9px 0 rgba(0,0,0,0.02);
    margin-bottom: 20px;
    position: relative;
}

.big_tt {
    padding: 10px;
    margin-top: 21px;
}

.booking-reference-title {
    color: #323C47;
    font-family: ".SF NS Text";
    font-size: 18px;
    line-height: 0px;
    margin-top: 54px;
}

.booking-reference-ref {
    height: 28px;
    width: 49px;
    color: rgba(50,60,71,0.5);
    font-family: ".SF NS Text";
    font-size: 11px;
    line-height: 28px;
}

.book_ref_box_closed {
    width: 100%;
    height: 100%;
    background-color: rgba(155,155,155,0.8);
    position: absolute;
    z-index: 999;
    box-shadow: 0 2px 9px 0 rgba(0,0,0,0.02);
    border-radius: 6px;
    text-align: center;
}

.stop_text {
    color: #000000;
    /* font-family: ".SF NS Text"; */
    font-size: 48px;
    font-weight: 900;
    line-height: 56px;
    margin-top: 30px;
    display: block;
}

.checkbox-slider--b input:checked + span:before {
    transition: background .2s ease-in;
    background: rgba(255, 143, 0, 0.64);
}

.filter_image {
    width: 47px;
    float: left;
    margin-top: 45px;
}

.week_footer_wrapper {
    /*display: none;*/
}





button[disabled], html input[disabled] {
    cursor: default;
    background-color: #eee;
    opacity: 1;
}

.open > .dropdown-menu {
    display: block;
    width: 100% !important;
    z-index: 99999999 !important;
}

.input-group-btn {
    position: static !important;
}

small {
    display: none;
}

.input-group-btn {
    position: static;
    font-size: 0;
    white-space: nowrap;
}

.drivers_menu_trip {
    width: 100% !important;
    z-index: 99999999 !important;
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.form-control {
    display: block;
    width: 100%;
    height: 50px;
    position: relative;
    margin-bottom: 22px;
}

.imgPlus {
    width: 22px;
    box-shadow: 0px 0px 1px #CCC;
    position: absolute;
    top: 25px;
    z-index: 9;
    right: 6px;
    border-radius: 0px 3px 0px 0px;
}

.imgMinus {
    width: 22px;
    box-shadow: 0px 0px 1px #CCC;
    position: absolute;
    top: 25px;
    z-index: 9;
    right: 6px;
    border-radius: 0px 3px 0px 0px;
}

.shadooows {
    position: absolute;
    width: 100%;
    height: 110%;
    display: none;
    background: rgba(0,0,0,.1);
    z-index: 999999;
}

.centerd {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

    .centerd img {
        z-index: 1;
        position: relative;
    }

.color_D_T, .color_D_T:hover, .color_D_T:active, .color_D_T:focus, color_D_T:focus:visited, .color_D_T:active:hover {
    background: #F5A623 !important;
    border-color: #F5A623 !important;
}

.margin-top-15 {
    margin-top: 15px;
}
.margin-bottom-35 {
    margin-bottom: 35px;
}


@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../../fonts/glyphicons-halflings-regular.eot');
    src: url('../../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

.settings_icon {
    min-height: 113px;
    border-radius: 6px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 9px 0 rgba(0,0,0,0.02);
    margin-bottom: 20px;
}

.quick-btn {
    background: #eee;
    -webkit-box-shadow: 0 0 0 1px #F8F8F8 inset, 0 0 0 1px #CCCCCC;
    box-shadow: 0 0 0 1px #F8F8F8 inset, 0 0 0 1px #CCCCCC;
    color: #444;
    height: 150px;
    margin-bottom:20px;
    padding-top: 36px;
    text-align: center;
    text-decoration: none;
    position: relative;
    font-size: 21px;
    color: #429dff;
    font-family: 'Source Sans Pro',sans-serif;
}

/****** LOGIN MODAL ******/
.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.newValue {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 78px; 
    display: block;
}
#inputNameVehicle .selectivity-dropdown, #inputNameDriver .selectivity-dropdown {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.15), 0 10px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1046;
    width: 317.988px !important;
}

#TagsNameVehicle .selectivity-dropdown, #TagsNameDriver .selectivity-dropdown {
    position: static !important;
    width: 317.988px !important;
} 

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px!important;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

    .btn.btn-signin:hover,
    .btn.btn-signin:active,
    .btn.btn-signin:focus {
        background-color: rgb(12, 97, 33);
    }

.forgot-password {
    color: rgb(104, 145, 162);
}

    .forgot-password:hover,
    .forgot-password:active,
    .forgot-password:focus {
        color: rgb(12, 97, 33);
    }


.logout-menu {
    height: 80px;
    padding-left: 20px;
    cursor: pointer;
}

    .logout-menu:hover {
        background-color: none;
    }

.logout-link {
    margin-top: 16px;
    padding-bottom: 32px !important;
    font-size: 17px;
    background-color: #4DA1FF !important;
    cursor: pointer;
}

.notifications-menu {
    margin-right: -41px !important;
}

    .notifications-menu:hover {
        background-color: none;
    }


.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right), .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
    display: block !important;
    position: absolute;
    width: 180px;
    left: 89px !important;
    top: 26px;
}

.CreateTripsPage > .button-export-r, .CreateTripsPage > .button-book-t {
    display: none !important;
}


.error_message {
    text-align: center;
    font-size: 23px;
    color: red;
    display: none;
}

.error_message_Trip {
    text-align: center;
    font-size: 23px;
    color: red;
    display: none;
}

#btnEditSave {
    display: none;
}



.trips_box li:nth-child(2n+1) {
    min-height: 65px;
}
.trips_box .dropdown-menu > li:nth-child(2n+1) {
    min-height: auto !important;
}

.data_table {
    padding-left: 18px;
}

    .data_table p > a {
        margin-top: 20px;
        display: block;
        margin-left: 8px;
        font-size: 19px;
        color: #24afff;
    }

.ui-widget.ui-widget-content {
    border: 1px solid #c5c5c5;
    z-index: 99999999999 !important;
}


.date_area_top {
    position:relative;
}

.vec_dash, .driver_dash {
    width: 70%;
    float: left;
}
.client_width_dev {
    width:91%;
}

.date_area_top img {
    padding: 15px;
    background-color: rgba(244,247,249,0.4);
    border-radius: 0 4px 4px 0;
    border: 1px solid #E9EFF4;
    cursor: pointer;
    box-sizing: border-box;
    position: absolute;
    top: 25px;
    right: 0px;
}

.overWriteStrtLoc {
    display: none;
}

.fa-sort-down:before, .fa-sort-desc:before {
    content: "\f0dd";
    background: #f4f4f4;
    padding: 17px;
    border: 1px solid #ddd;
    padding-bottom: 18px;
    padding-top: 13px;
    padding-left: 12px;
    padding-right: 12px;
}

.selectivity-caret {
    position: absolute;
    right: -12px !important;
    top: 9px !important;
}

/*.fa-remove:before, .fa-close:before, .fa-times:before {
    content: ""!important;
}*/

.hidden_edit{
    display:none;
}

#popUpDiv{
   z-index: 100;
   position: absolute;
   background-color: rgba(123, 123,123, 0.8);
   display: none;
   top: 0;
   left: 0;
   width: 200px;
   height: 300px;
}
#popupSelect{
   z-index: 1000;
   position: absolute;
   top: 130px;
   left: 50px;
}


.left-label {
    text-align: left !important;
    margin-left: 50px !important;
    margin-top: 10px !important;
}
.btn-lg {
    padding: 10px 16px;
    border-radius: 6px;
    font-weight: 600;
    height:auto !important;
}
.input-validation-error {
    border: 1px solid #ff0000 !important;
    /*background-color: #FF0000;*/
}

.bg-green, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body {
    background-color: #00a65a !important;
    position: fixed !important;
    top: 0px !important;
    z-index: 999999999999999999 !important;
    width: 95% !important;
}

.bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
    background-color: #00c0ef !important;
    position: fixed !important;
    top: 0px !important;
    z-index: 999999999999999999 !important;
    width: 95% !important;
}

.bg-yellow, .callout.callout-warning, .alert-warning, .label-warning, .modal-warning .modal-body {
    background-color: #f39c12 !important;
    position: fixed !important;
    top: 0px !important;
    z-index: 999999999999999999 !important;
    width: 95% !important;
}

.bg-red, .callout.callout-danger, .alert-danger, .alert-error, .label-danger, .modal-danger .modal-body {
    background-color: #dd4b39 !important;
    position: fixed !important;
    top: 0px !important;
    z-index: 999999999999999999 !important;
    width: 95% !important;
}

.btn-edit {
    width: 41%;
    text-align: center;
    padding-left: 11px;
}

#btnSavePage{
    display:none;
}


.navbar-nav > .notifications-menu > .dropdown-menu, .navbar-nav > .messages-menu > .dropdown-menu, .navbar-nav > .tasks-menu > .dropdown-menu {
    width: 411px !important;
    padding: 0 0 0 0;
    margin: 0;
    top: 100%;
}