/**
 * All CSS that comes with Selectivity.js can be used as is, or tweaked to your heart's content :)
 *
 * Please realize though there is no "API contract" regarding styling of CSS classes, meaning that
 * any customized CSS made may need to be updated without warning if you want to upgrade the
 * Selectivity version you use. You can mitigate this problem by using your own templates instead of
 * those defined in src/templates.js, since templates will at the very least continue working across
 * patch versions and any changes necessary to templates will be documented in the changelog.
 */
.selectivity-clearfix {
  clear: both; }

.selectivity-input {
  display: inline-block;
  width: 100%; }
  .selectivity-input select {
    display: none; }

.selectivity-input:focus {
  outline: none; }

.selectivity-placeholder {
  color: #888; }

/**
 * Dropdown
 */
.selectivity-dropdown {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.15), 0 10px 16px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 1046; }

.selectivity-search-input-container {
  border-bottom: 1px solid #ccc; }

.selectivity-search-input {
  background: transparent;
  border: 0;
  outline: 0;
  width: 100%; }

.selectivity-results-container {
  max-height: 28em;
  overflow: auto;
  position: relative; }

.selectivity-load-more,
.selectivity-result-item {
  cursor: pointer;
  padding: 7px; }

.selectivity-result-children .selectivity-result-item {
  padding-left: 17px; }

.selectivity-load-more.highlight,
.selectivity-result-item.highlight {
  background: #4484c7;
  color: #fff; }

.selectivity-result-item.disabled {
  cursor: default;
  color: #999; }

.selectivity-result-item:first-child {
  border-radius: 4px 4px 0 0; }

.selectivity-dropdown.has-search-input .selectivity-result-item:first-child {
  border-radius: 0; }

.selectivity-result-label {
  font-weight: bold; }

.selectivity-load-more,
.selectivity-result-item:last-child,
.selectivity-result-children:last-child .selectivity-result-item:last-child {
  border-radius: 0 0 4px 4px; }

.selectivity-result-children .selectivity-result-item:last-child {
  border-radius: 0; }

.selectivity-error,
.selectivity-loading,
.selectivity-search-input-container,
.selectivity-result-label {
  padding: 7px; }

/**
 * Multi-selection input
 */
.selectivity-multiple-input-container {
  background: #ccc;
  border-radius: 2px;
  cursor: text;
  max-height: 10em;
  min-height: calc(2em + 4px);
  overflow: auto;
  padding: 5px; }

.selectivity-multiple-input-container .selectivity-placeholder {
  height: calc(2em + 4px);
  line-height: calc(2em + 4px); }

.selectivity-multiple-input,
input[type='text'].selectivity-multiple-input {
  background-color: transparent;
  border: none;
  float: left;
  font: inherit;
  height: calc(2em + 4px);
  max-width: 100%;
  outline: 0;
  padding: 0; }
  .selectivity-multiple-input:focus,
  input[type='text'].selectivity-multiple-input:focus {
    background-color: transparent;
    box-shadow: none;
    outline: none; }

.selectivity-multiple-input::-ms-clear {
  display: none; }

.selectivity-multiple-input.selectivity-width-detector {
  position: absolute;
  top: -10000px;
  left: 0;
  white-space: pre; }

.selectivity-multiple-selected-item {
  background: #4484c7;
  border-radius: 3px;
  color: #fff;
  cursor: default;
  float: left;
  line-height: 2em;
  margin: 2px;
  padding-right: 5px;
  position: relative;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  white-space: nowrap; }
  .selectivity-multiple-selected-item.highlighted {
    background-color: #ccc; }

.selectivity-multiple-selected-item-remove {
  color: #fff;
  cursor: pointer;
  padding: 5px; }

/**
 * Single-selection input
 */
.selectivity-single-select {
    /* background: #ccc; */
    /* border-radius: 2px; */
    cursor: pointer;
    /* min-height: 2em; */
    position: relative;
    box-sizing: content-box;
}

.selectivity-single-select-input {
  opacity: 0; }

.selectivity-single-result-container {
  position: absolute;
  top: 9px;
  right: 15px;
  left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.selectivity-single-selected-item {
  color: #000; }

.selectivity-single-selected-item-remove {
  color: #000;
  float: right;
  padding: 0 5px; }

.selectivity-caret {
  position: absolute;
  right: 5px;
  top: 8px; }

@media only screen and (max-device-width: 480px) {
  .selectivity-single-select {
    border-radius: 2px; }

  .selectivity-single-result-container {
    right: 5px; }

  /*.selectivity-caret {
    display: none; } }*/
/**
 * Submenu
 */
.selectivity-submenu-icon {
  position: absolute;
  right: 4px; }
