﻿/**
 * All CSS that comes with Select3 can be used as is, or tweaked to your heart's content :)
 *
 * Please realize though there is no "API contract" regarding styling of CSS classes, meaning that
 * any customized CSS made may need to be updated without warning if you want to upgrade the Select3
 * version you use. You can mitigate this problem by using your own templates instead of those
 * defined in select3-templates.js, since templates will at the very least continue working across
 * patch versions and any changes necessary to templates will be documented in the changelog.
 */

.clearfix {
    clear: both;
}

.select3-input {
    display: inline-block;
    width: 250px;
}

/**
 * Multi-selection input.
 */

.select3-multiple-input-container {
    background: #eee;
    border-radius: 2px;
    cursor: text;
    max-height: 10em;
    min-height: 28px;
    padding: 5px;
}

.select3-multiple-input,
input[type="text"].select3-multiple-input {
    background-color: transparent;
    border: none;
    float: left;
    height: 28px;
    max-width: 100%;
    outline: 0;
    padding: 0;
}

    .select3-multiple-input:focus,
    input[type="text"].select3-multiple-input:focus {
        background-color: transparent;
        box-shadow: none;
        outline: none;
    }

    .select3-multiple-input.select3-width-detector {
        left: 0;
        position: absolute;
        top: -10000px;
        white-space: pre;
    }

.select3-multiple-selected-item {
    background: #4484c7;
    border-radius: 3px;
    color: #fff;
    cursor: default;
    float: left;
    line-height: 24px;
    margin: 2px;
    padding-left: 5px;
    position: relative;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    white-space: nowrap;
}

    .select3-multiple-selected-item.highlighted {
        background-color: #ccc;
    }

.select3-multiple-selected-item-remove {
    cursor: pointer;
    padding: 5px;
}

/**
 * Single-select input.
 */

.select3-single-select {
    border-radius: 2px;
    cursor: pointer;
    min-height: 24px;
    padding: 5px;
    position: relative;
}

    .select3-single-select:hover {
        background: #eee;
    }

.select3-single-result-container {
    left: 5px;
    overflow: hidden;
    position: absolute;
    right: 15px;
    text-overflow: ellipsis;
    top: 10px;
    white-space: nowrap;
}

.select3-single-selected-item {
    color: #000;
}

.select3-single-selected-item-remove {
    float: right;
    padding: 0 5px;
}

.select3-single-select-placeholder {
    color: #999;
}

.select3-caret {
    position: absolute;
    right: 5px;
    top: 8px;
}

/**
 * Dropdown
 */

.select3-dropdown {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .15), 0 10px 16px 0 rgba(0, 0, 0, .2);
    position: absolute;
    z-index: 9999;
}

.select3-search-input-container {
    border-bottom: 1px solid #eee;
}

.select3-search-input {
    background: transparent;
    border: 0;
    outline: 0;
    width: 100%;
}

.select3-results-container {
    max-height: 350px;
    overflow: auto;
}

.select3-load-more,
.select3-result-item {
    cursor: pointer;
    padding: 7px;
}

.select3-result-children .select3-result-item {
    padding-left: 17px;
}

.select3-load-more.highlight,
.select3-result-item.highlight {
    background: #4484c7;
    color: white;
}

.select3-result-item:first-child {
    border-radius: 4px 4px 0 0;
}

.select3-dropdown.has-search-input .select3-result-item:first-child {
    border-radius: 0;
}

.select3-result-label {
    font-weight: bold;
}

.select3-load-more,
.select3-result-item:last-child,
.select3-result-children:last-child .select3-result-item:last-child {
    border-radius: 0 0 4px 4px;
}

.select3-result-children .select3-result-item:last-child {
    border-radius: 0;
}

.select3-loading,
.select3-search-input-container,
.select3-result-label,
.select3-no-results {
    padding: 7px;
}
