﻿@model FmtsServices.Model.DepartmentModel


@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="form-group">
    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label left-label col-md-2" })
    <div class="col-md-9">
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.CustomerName, "CustomerName", htmlAttributes: new { @class = "control-label left-label col-md-2" })
    <div class="col-md-9">
        @Html.DropDownList("CustomerName", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CustomerName, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <div class=" left-label col-md-2">
    </div>
    <div class="col-md-9">
        <input type="submit" value="Save" class="btn btn-primary btn-lg" />
        <button type="button" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("Index")'">Back</button>
    </div>
</div>



