﻿@using FmtsProj.Common
@using FmtsServices.Model

@{
    ViewBag.Title = "Departments";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}

<script type="text/javascript">
    var haspermissiontoEdit = @Common.HasPermissions(Enums.PermissionsEnum.VehiclesEdit).ToString().ToLower();
</script>
<link rel="stylesheet" href=@Url.Content("/Content/css/font-awesome.min.css")>
<script type="text/javascript" src=@Url.Content("/Content/js/jquery-3.2.1.min.js")></script>
<script type="text/javascript" src=@Url.Content("/Content/js/jsgrid.min.js")></script>

<div class="col-md-12">
    <div class="card">
        @if (Common.HasPermissions(Enums.PermissionsEnum.VehiclesCreate))
        {
            <div class="header margin-bottom-35">
                <div class="col-sm-3 ">
                    <button type="button" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("Create", "Departments")'">New</button>
                </div>
            </div>
        }
        <br />
        <div class="content" id="gridContent">
            <div id="jsGrid"></div>
        </div>
    </div>
</div>

<script type="text/javascript" src=@Url.Content("/Content/js/Departments/index.js?v=1.031")></script>
