﻿
@{
    ViewBag.Title = "Coming soon...";
    ViewBag.PageName = "BookTrip";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}
<section class="content-header">

    <br class="hidden-sm hidden-md hidden-lg" />
    <h1>Coming soon...</h1>
    </section>


