﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TMS Panel</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href=@Url.Content("/Content/css/bootstrap.min.css")>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css")>
    <!-- Theme style -->
    <link rel="stylesheet" href=@Url.Content("/Content/css/AdminLTE.min.css") />
    <link rel="stylesheet" href=@Url.Content("/Content/css/skin-blue.min.css") />
    <link rel="stylesheet" href=@Url.Content("/Content/css/titatoggle-dist-min.css") />
    <link rel="stylesheet" type="text/css" href=@Url.Content("/Content/slick/slick.css") />
    <link rel="stylesheet" type="text/css" href=@Url.Content("/Content/slick/slick-theme.css") />
    <link rel="stylesheet" href=@Url.Content("/Content/css/main.css")>
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body >
   
                <div>@RenderBody()</div>
            
    <!-- ./wrapper -->
    <!-- REQUIRED JS SCRIPTS -->
    <!-- jQuery 2.2.3 -->
    <script src=@Url.Content("/Content/js/jquery-2.2.3.min.js")></script>
    <!-- Bootstrap 3.3.6 -->
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
    </script>
    <script src=@Url.Content("/Content/js/bootstrap.min.js")></script>
    <!-- AdminLTE App -->
    <script src=@Url.Content("/Content/js/app.min.js")></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src=@Url.Content("/Content/slick/slick.min.js")></script>
    
    <!-- Optionally, you can add Slimscroll and FastClick plugins.
         Both of these plugins are recommended to enhance the
         user experience. Slimscroll is required when using the
         fixed layout. -->
</body>
</html>
