﻿@using FmtsProj.Common
@using FmtsServices.Model
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TMS Panel</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href=@Url.Content("/Content/css/bootstrap.min.css?v=1.01")>
    <!-- Font Awesome -->
    <link rel="stylesheet" href=@Url.Content("/Content/css/font-awesome.min.css")>
    <!-- Theme style -->
    <link rel="stylesheet" href=@Url.Content("/Content/css/AdminLTE.min.css") />
    <link rel="stylesheet" href=@Url.Content("/Content/css/skin-blue.min.css") />
    <link rel="stylesheet" href=@Url.Content("/Content/css/titatoggle-dist-min.css") />
    <link rel="stylesheet" type="text/css" href=@Url.Content("/Content/slick/slick.css") />
    <link rel="stylesheet" type="text/css" href=@Url.Content("/Content/slick/slick-theme.css") />
    <link rel="stylesheet" href=@Url.Content("/Content/css/main.css?v=1.01")>
    <link rel="stylesheet" href=@Url.Content("/Content/css/select2.min.css")>
    <link rel="stylesheet" href=@Url.Content("/Content/css/jsgrid.min.css")>
    <link rel="stylesheet" href=@Url.Content("/Content/css/jsgrid-theme.min.css")>
    <link rel="stylesheet" href=@Url.Content("/Content/css/selectivity-jquery.css")>
    <link rel="stylesheet" href=@Url.Content("/Content/css/flatpickr.min.css")>
    <link rel="stylesheet" href=@Url.Content("/Content/css/flatpickr_material_blue.css")>
    <link rel="stylesheet" href=@Url.Content("/Content/css/jquery-ui.min.css") />
    <link rel="stylesheet" href=@Url.Content("/Content/css/jquery-ui.structure.min.css") />
    <link rel="stylesheet" href=@Url.Content("/Content/css/jquery-ui.theme.min.css") />

    <script src=@Url.Content("/Content/js/Common/CommonMethods.js")></script>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-collapse sidebar-mini">
    
    <div class="wrapper">
        <!-- Main Header -->
        <header class="main-header">
            <!-- Logo -->
            <a href="@Url.Action("index", "Dashboard")" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <img src=@Url.Content("/Content/images/Logo.png") />
            </a>
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <form class="col-md-10 hidden-sm hidden-xs" action="/Dashboard/Notifications"  style="width:77%;">
                    <div class="form-group">
                        <input type="text" name="inputfind" class="form-control search_header" placeholder="Find a trips, drivers...">
                    </div>
                </form>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Notifications Menu -->
                        <li class="dropdown notifications-menu">
                            <!-- Menu toggle button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src=@Url.Content("/Content/images/Notification.png") class="notific" width="50" />
                                <span class="label badge"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have <span class="notNumber"></span> notifications</li>
                                <li>
                                    <!-- Inner Menu: contains the notifications -->
                                    <ul class="menu">
                                        <li>
                                            <!-- start notification -->
                                            <table class="table">
                                                <thead>
                                                    <th>Event Type</th>
                                                    <th>Column Name</th>
                                                    <th>Original Value</th>
                                                    <th>New Value</th>
                                                 </thead>
                                                <tbody class="dataNot">
                                                <tr>
                                                    <td>Loading...</td>
                                                    <td>Loading...</td>
                                                    <td>Loading...</td>
                                                    <td>Loading...</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                                     
                                        </li>
                                               
                                        <!-- end notification -->
                                    </ul>
                                </li>
                                <li class="footer"><a href="@Url.Action("Notifications", "Dashboard")">View all</a></li>
                            </ul>
                        </li>
                        <li class="logout-menu">
                            <a href="@Url.Action("Logout", "Login")" class="btn btn-info logout-link">
                                <span class="glyphicon glyphicon-log-out"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- search form (Optional) -->
                <br />
                <form action="#" method="get" class="hidden-lg hidden-md sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class=" form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- Sidebar Menu -->
                <ul class="sidebar-menu">
                   @if (Common.HasPermissions(Enums.PermissionsEnum.DashBoardViewPage))
                   {
                    <li class="active"><a href="@Url.Action("index", "Dashboard")"><img class="menu-icon" src=@Url.Content("/Content/images/dashboardicon.png") /> <span>DashBoard</span></a></li>
                   }
                    @if (Common.HasPermissions(Enums.PermissionsEnum.DriversViewPage))
                    {
                    <li><a href="@Url.Action("index", "Drivers")"><img class="menu-icon" src=@Url.Content("/Content/images/DriverIcon.png") /><span>Drivers</span></a></li>
                    }
                    @if (Common.HasPermissions(Enums.PermissionsEnum.VehiclesViewPage))
                    {
                    <li><a href="@Url.Action("index", "Vehicles")"><img class="menu-icon" src=@Url.Content("/Content/images/Vehicles.png") /><span>Vehicles</span></a></li>
                    }
                    @if (Common.HasPermissions(Enums.PermissionsEnum.BookingViewPage))
                    {
                    <li><a href="@Url.Action("index", "Books")"><img class="menu-icon" src=@Url.Content("/Content/images/meetingsicon.png") /> <span>Booking</span></a></li>
                    }
                    @if (Common.HasPermissions(Enums.PermissionsEnum.ClientViewPage))
                    {
                    <li><a href="@Url.Action("index", "Clients")"><img class="menu-icon" src=@Url.Content("/Content/images/Customer.png") /> <span>Client</span></a></li>
                    }
                    @if (Common.HasPermissions(Enums.PermissionsEnum.ReportsViewPage))
                    {
                    <li><a href="@Url.Action("index", "ComingSoon")"><img class="menu-icon" src=@Url.Content("/Content/images/Reporticon.png") /> <span>Report</span></a></li>
                    }
                    @if (Common.HasPermissions(Enums.PermissionsEnum.SettingsViewPage))
                    {
                    <li><a href="@Url.Action("index", "Settings")"><img class="menu-icon" src=@Url.Content("/Content/images/settingsicon.png") /><span>Settings</span></a></li>
                    }
                </ul>
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="border: 1px solid #eaedee;
    border-right: none;">
            <!-- Main content -->
            <div class="alert alert-success" style="display:none" role="alert">
                <strong>Success!</strong> <span class="successMessage"></span>
            </div>
            <div class="alert alert-info" style="display:none" role="alert">
                <strong>Info!</strong><div class="infoMessage"></div>
            </div>
            <div class="alert alert-warning" style="display:none" role="alert">
                <strong>Warning!</strong><div class="warningMessage"></div>
            </div>
            <div class="alert alert-danger" style="display:none" role="alert">
                <strong>Erorr!</strong><div class="dangerMessage"></div>
            </div>
            <section class="content-header">
                <br class="hidden-sm hidden-md hidden-lg" />
                <h1>
                    @{
                        if (ViewBag.PageName != "BookTrip")
                        {
                            @ViewBag.Title
                            <div class="clear"></div>
                            if (Common.HasPermissions(Enums.PermissionsEnum.DashBoardExportReport))
                            {
                                <button class="btn button-export-r btn-default" type="button">Export Report</button>
                            }
                            if (Common.HasPermissions(Enums.PermissionsEnum.BookingCreate))
                            {
                                <button class="btn button-book-t btn-primary" onclick="location.href='@Url.Action("Create", "Books")'" type="button">+  Make a Booking</button>
                            }
                        }else
                        {
                            <label id="RefNumlbl"></label> 
                        }
                    }
                </h1>
            </section>
            <div>@RenderBody()</div>
            <div class="clear"></div>
        </div>
        <!-- /.content-wrapper -->

    </div>

    <div id="confirmationDialog" title="Confirmation">
        <span id="confirmationMessage"></span>
    </div>

    <!-- ./wrapper -->
    <!-- REQUIRED JS SCRIPTS -->
    <!-- jQuery 2.2.3 -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.2.0/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.2.0/jquery-confirm.min.js"></script>
    <script src=@Url.Content("/Content/js/jquery-ui.js")></script>
    <script src=@Url.Content("/Content/js/bootstrap.min.js")></script>
    <!-- AdminLTE App -->
    <script src=@Url.Content("/Content/js/app.min.js")></script>
    <script src=@Url.Content("/Content/js/jquery-migrate-1.2.1.min.js")></script>
    <script src=@Url.Content("/Content/slick/slick.min.js")></script>
    <script src=@Url.Content("/Content/js/jquery.tmpl.min.js")></script>
    <script src=@Url.Content("/Content/js/select2.full.min.js")></script>
    <script src=@Url.Content("/Content/js/selectivity-jquery.js")></script>
    <script src=@Url.Content("/Content/js/flatpickr.min.js")></script>
    <script src=@Url.Content("/Content/js/jquery-ui.min.js")></script>
    <script src=@Url.Content("/Content/js/main.js")></script>
    <!-- Optionally, you can add Slimscroll and FastClick plugins.
         Both of these plugins are recommended to enhance the
         user experience. Slimscroll is required when using the
         fixed layout. -->
</body>
</html>
