﻿
<div class="modal fade" id="ClientModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel">Add New Client</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <b class="area_name_form">Client Name</b>
                    <input name="inputClientName" id="inputClientName" class="form-control_custom" value="" placeholder="Client">
                    <small class="showError" style="color:red;">Please fill the client name..</small>
                </div>
                <div class="row">
                    <b class="area_name_form">Adress</b>
                    <input name="Adress" id="inputAdress" class="form-control_custom" value="" placeholder="Adress">
                </div>
                <div class="row">
                    <b class="area_name_form">Phone Number</b>
                    <input name="inputPhoneNum" id="inputPhoneNum" class="form-control_custom" value="" placeholder="Phone Number">
                </div>
                <div class="row" style="margin-top:20px;">
                    <button type="button" id="btnAddNewClient" onclick="javascript:AddNewObject(this)" style="float:left; margin-right:11px;" class="btn btn-primary">Add New Client</button>
                    <button type="button" style="float:left;" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Driver PAge-->
<div class="modal fade" id="DriverModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel">Add New Driver</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <b class="area_name_form">Driver Name</b>
                    <input name="inputDriverName" id="inputDriverName" class="form-control_custom" value="" placeholder="Driver">
                    <small class="showError" style="color:red;">Please fill the Driver name..</small>
                </div>
                <div class="row">
                    <b class="area_name_form">Personal Number</b>
                    <input name="PersonalNumber" id="inputPersonalNumber" class="form-control_custom" value="" placeholder="Personal Number">
                    <small class="showErrorp" style="color:red;">Please fill the Personal Number..</small>
                </div>
                <div class="row">
                    <b class="area_name_form">Joining Date</b>
                    <input name="inputJoiningDate" id="inputJoiningDate" class="form-control_custom" value="" placeholder="Joining Date">
                </div>
                <div class="row">
                    <b class="area_name_form">Nationality</b>
                    <input name="inputNationality" id="inputNationality" class="form-control_custom" value="" placeholder="Nationality">
                </div>

                <div class="row">
                    <b class="area_name_form">Emarites Id Expairy</b>
                    <input name="inputEmaritesIdExpairy" id="inputEmaritesIdExpairy" class="form-control_custom" value="" placeholder="Emarites Id Expairy">
                </div>

                <div class="row">
                    <b class="area_name_form">Passport Number</b>
                    <input name="inputPassportNumber" id="inputPassportNumber" class="form-control_custom" value="" placeholder="Passport Number">
                </div>
                <div class="row" style="margin-top:20px;">
                    <button type="button" id="btnAddNewClient" onclick="javascript:AddDriverNewObject(this)" style="float:left; margin-right:11px;" class="btn btn-primary">Add New Driver</button>
                    <button type="button" style="float:left;" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Vehical PAge-->
<div class="modal fade" id="VehicalModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel">Add New Vehical</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <b class="area_name_form">Vehicle Number</b>
                    <input name="inputVehicleNumPup" id="inputVehicleNumPup" class="form-control_custom" value="" placeholder="Vehicle Number">
                    <small class="showError" style="color:red;">Please fill the Vehicle number..</small>
                </div>
                <div class="row">
                    <b class="area_name_form">Seat Count</b>
                    <input name="inputSeatCountPop" id="inputSeatCountPop" class="form-control_custom" value="" placeholder="Seat Count">
                </div>
                <div class="row">
                    <b class="area_name_form">Vehicle Color</b>
                    <input name="inputVehicleColorPop" id="inputVehicleColorPop" class="form-control_custom" value="" placeholder="Vehicle Color">
                </div>
                <div class="row">
                    <b class="area_name_form">Vehicle Status</b>
                    <input name="inputVehicleStatusPop" id="inputVehicleStatusPop" class="form-control_custom" value="" placeholder="Vehicle Status">
                </div>

                <div class="row">
                    <b class="area_name_form">Vehicle Model</b>
                    <input name="inputVehicleModelPop" id="inputVehicleModelPop" class="form-control_custom" value="" placeholder="Vehicle Model">
                </div>
                <div class="row" style="margin-top:20px;">
                    <button type="button" id="btnAddNewClient" onclick="javascript:AddVehicalNewObject(this)" style="float:left; margin-right:11px;" class="btn btn-primary">Add New Vehical</button>
                    <button type="button" style="float:left;" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Your Page Content Here -->
<script type="text/javascript">
    function CallEventNoData(term, orginal) {
        debugger;
        if (orginal == "Client") {
            $("#inputClientName").val(term);
            $("#inputAdress").val('');
            $("#inputPhoneNum").val('');
            $('#ClientModal').modal('show');
        } else if (orginal == "Driver") {
            $("#inputDriverName").val(term);
            $("#inputPersonalNumber").val('');
            $("#inputJoiningDate").val('');
            $("#inputNationality").val('');
            $("#inputEmaritesIdExpairy").val('');
            $("#inputPassportNumber").val('');
            $('#DriverModal').modal('show');
        } else if (orginal == "Vehicles") {
            $("#inputVehicleNumPup").val(term);
            $("#inputSeatCountPop").val('');
            $("#inputVehicleColorPop").val('');
            $("#inputVehicleStatusPop").val('');
            $('#VehicalModal').modal('show');
        }
        else if (orginal == "Customer") {
            var ClientData = GetIdFromselectivity($("#inputNameClient"));
            var customer = {
                Name: term,
                ClientID: ClientData
            };
            AddCustomerObject(customer);
            
        } else if (orginal == "Department") {
            var CustomerID = GetIdFromselectivity($("#inputNameCustomer"));//.selectivity('data').id;
            var department = {
                Name: term,
                CustmerID: CustomerID
            };
            AddObjectDepartment(department);

        }
    };
    function AddNewObject(e) {
        debugger;
        if ($("#inputClientName").val() == "") {
            $(".showError").hide().slideDown();
        } else {
            var Client = { ClientName: $("#inputClientName").val(), Adress: $("#inputAdress").val() };
            var json = JSON.stringify(Client);
            $(".showError").hide().slideUp();
            $.ajax({
                type: "POST",
                url: "/Clients/AddNewClient",
                data: json,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    $('#ClientModal').modal('hide');
                    $("#inputNameClient").selectivity('data', { id: response.ClientID, text: response.ClientName });
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }
    };
    function AddVehicalNewObject(e) {
        debugger;
        if ($("#inputVehicleNumPup").val() == "") {
            $(".showError").hide().slideDown();
        } else {
            var vehical = {
                VehicleNum: $("#inputVehicleNumPup").val(),
                SeatCount: $("#inputSeatCountPop").val(),
                VehicleColor: $("#inputVehicleColorPop").val(),
                VehicleStatus: $("#inputVehicleStatusPop").val(),
                VehicleModel: $("#inputVehicleModelPop").val()
            };
            
            $(".showError").hide().slideUp();
            var json = JSON.stringify(vehical);

            $.ajax({
                type: "POST",
                url: "/Vehicles/AddNewVehicale",
                data: json,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    $('#VehicalModal').modal('hide');
                    $("#inputparVehicleNum").selectivity('data', { id: response.ID, text: response.VehicleNum });
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });

        }
    };
    function AddDriverNewObject(e) {
        debugger;
        if ($("#inputDriverName").val() == "") {
            $(".showError").hide().slideDown();
        } else if ($("#inputPersonalNumber").val() == "") {
            $(".showErrorp").hide().slideDown();
        } else {
            var driver = {
                FullName: $("#inputDriverName").val(),
                PersonalNumber: $("#inputPersonalNumber").val(),
                JoiningDate: $("#inputJoiningDate").val(),
                Nationality: $("#inputNationality").val(),
                EmaritesIdExpairy: $("#inputEmaritesIdExpairy").val(),
                PassportNumber: $("#inputPassportNumber").val()
            };
            var json = JSON.stringify(driver);
            debugger;
            $(".showError").hide().slideUp();
            $.ajax({
                type: "POST",
                url: "/Drivers/AddNewDriver",
                data: json,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    $('#DriverModal').modal('hide');
                    $("#inputparDriver").selectivity('data', { id: response.DriverID, text: response.FullName });
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }
    };
    function AddCustomerObject(customer) {
        debugger;
       
        var json = JSON.stringify(customer);
            debugger;
            $(".showError").hide().slideUp();
            $.ajax({
                type: "POST",
                url: "/Customers/CreatePopup",
                data: json,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    $("#inputNameCustomer").selectivity('data', { id: response.CustomerID, text: response.Name});
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
    };
    function AddObjectDepartment(department)
    {
        debugger;
        
        var json = JSON.stringify(department);
        debugger;
        $(".showError").hide().slideUp();
        $.ajax({
            type: "POST",
            url: "/Departments/CreatePopup",
            data: json,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                $("#inputNameDepartment").selectivity('data', { id: response.DepartmentID, text: response.Name});
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    };
</script>
