﻿<!DOCTYPE html>


<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TMS Panel</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href=@Url.Content("/Content/css/bootstrap.min.css")>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href=@Url.Content("/Content/css/AdminLTE.min.css")>
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href=@Url.Content("/Content/css/skin-blue.min.css")>
    <link rel="stylesheet" type="text/css" href=@Url.Content("/Content/slick/slick.css") />
    <link rel="stylesheet" type="text/css" href=@Url.Content("/Content/slick/slick-theme.css") />
    <link rel="stylesheet" href=@Url.Content("/Content/css/main.css")>
    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkXb0YHO4RH39UfLyVhH9-u4Ccy2pB2mw&callback=initMap"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="hold-transition skin-blue sidebar-collapse sidebar-mini">
    <div class="wrapper">

        <!-- Main Header -->
        <header class="main-header">

            <!-- Logo -->
            <a href="index2.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <img src=@Url.Content("/Content/images/Logo.png") />
            </a>

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <form class="col-md-10 hidden-sm hidden-xs">
                    <div class="form-group">
                        <input type="text" class="form-control search_header" placeholder="Find a trips, drivers...">
                    </div>
                </form>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Notifications Menu -->
                        <li class="dropdown notifications-menu">
                            <!-- Menu toggle button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src=@Url.Content("/Content/images/Notification.png") class="notific" width="50" />
                                <span class="label badge label-danger">10</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li>
                                    <!-- Inner Menu: contains the notifications -->
                                    <ul class="menu">
                                        <li>
                                            <!-- start notification -->
                                            <a href="#">
                                                <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                            </a>
                                        </li>
                                        <!-- end notification -->
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">

            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- search form (Optional) -->
                <br />
                <form action="#" method="get" class="hidden-lg hidden-md sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class=" form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- Sidebar Menu -->
                <ul class="sidebar-menu">
                    <li class="active"><a href="@Url.Action("index", "Dashboard")"><img class="menu-icon" src=@Url.Content("/Content/images/dashboardicon.png") /> <span>Dashboard</span></a></li>
                    <li><a href="@Url.Action("index", "Drivers")"><img class="menu-icon" src=@Url.Content("/Content/images/DriverIcon.png") /><span> Drivers</span></a></li>
                    <li><a href="@Url.Action("index", "Vehicles")"><img class="menu-icon" src=@Url.Content("/Content/images/Vehicles.png") /><span>Vehicles</span></a></li>
                    <li><a href="@Url.Action("index", "Trips")"><img class="menu-icon" src=@Url.Content("/Content/images/meetingsicon.png") /> <span>Book Trip</span></a></li>
                    <li><a href="@Url.Action("index", "Clients")"><img class="menu-icon" src=@Url.Content("/Content/images/Customer.png") /> <span>Clients</span></a></li>
                    <li><a href="@Url.Action("index", "Reports")"><img class="menu-icon" src=@Url.Content("/Content/images/Reporticon.png") /> <span>Report</span></a></li>
                    <li><a href="@Url.Action("index", "Settings")"><img class="menu-icon" src=@Url.Content("/Content/images/settingsicon.png") /><span>Settings</span></a></li>

                </ul>
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="border: 1px solid #eaedee;
    border-right: none;">
            <!-- Main content -->
            <section class="content-header">
                <br class="hidden-sm hidden-md hidden-lg" />
                <h1>
                    @ViewBag.Title
                    <button type="button" class="btn button-export-r btn-default">Export Report</button>
                    <button type="button"  onclick="location.href='@Url.Action("index", "Books")'" class="btn button-book-t btn-primary">Make a Booking</button>
                </h1>
            </section>

            <section class="content">
                <div class="row">
                    <div>@RenderBody()</div>
                </div>
          </section>


            <div class="clear"></div>
        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED JS SCRIPTS -->
    <!-- jQuery 2.2.3 -->
    <script src=@Url.Content("/Content/js/jquery-2.2.3.min.js")></script>
    <!-- Bootstrap 3.3.6 -->
    <script src=@Url.Content("/Content/js/bootstrap.min.js")></script>
    <!-- AdminLTE App -->
    <script src=@Url.Content("/Content/js/app.min.js")></script>
    <script type="text/javascript" src=@Url.Content("/Content/slick/slick.min.js")></script>
    <script src=@Url.Content("/Content/js/main.js")></script>
    <!-- Optionally, you can add Slimscroll and FastClick plugins.
         Both of these plugins are recommended to enhance the
         user experience. Slimscroll is required when using the
         fixed layout. -->
</body>
</html>

