﻿@model List<FmtsServices.Model.PermissionGroupsModel>

@{
    foreach (var group in Model)
    {
        <h3>@group.Name</h3>
        <ul id="check-list-box" class="list-group checked-list-box">
            @foreach (var permission in group.Permissions)
            {
                <li class="list-group-item" id="per_@permission.PermissionID">@permission.Description</li>
            }
        </ul>

    }
}






