﻿@using FmtsProj.Common
@using FmtsServices.Model

@{
    //ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}

<script type="text/javascript">
    var haspermissiontoEdit = @Common.HasPermissions(Enums.PermissionsEnum.VehiclesEdit).ToString().ToLower();
</script>
<link rel="stylesheet" href=@Url.Content("/Content/css/font-awesome.min.css")>
<script type="text/javascript" src=@Url.Content("/Content/js/jquery-3.2.1.min.js")></script>
<script type="text/javascript" src=@Url.Content("/Content/js/jsgrid.min.js")></script>
<script type="text/javascript" src=@Url.Content("/Content/js/jquery-ui.min.js")></script>
<div class="col-md-12">
    <div class="card">
        @if (Common.HasPermissions(Enums.PermissionsEnum.VehiclesCreate))
        {
            <div class="header margin-bottom-35">
                <div class="col-sm-3 ">
                    <button type="button" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("Create", "Roles")'">New</button>
                </div>
            </div>
        }
        <div class="content" id="gridContent">
            <div id="jsGrid"></div>
        </div>
    </div>
</div>

<div id="editPermissionsModal" title="Role Permissions" style="overflow-x:hidden">
    <div style="margin-top:20px;margin-left:10px">
        <div class="row">
            <div style="width:570px">
                <div class="well" style="overflow: auto;">
                    
                    @*<ul id="check-list-box" class="list-group checked-list-box">*@

                        @Html.Action("AllPermissions", "Permissions")

                        @*<li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item" data-color="success">Dapibus ac facilisis in</li>
                        <li class="list-group-item" data-color="info">Morbi leo risus</li>
                        <li class="list-group-item" data-color="warning">Porta ac consectetur ac</li>
                        <li class="list-group-item" data-color="danger">Vestibulum at eros</li>*@
                    @*</ul>*@
                    <div id="loaderOverall" class="lock_page_div">
                        <div class="centered">
                            <img src=@Url.Content("/Content/images/load.gif") alt="Alternate Text" width="60" />
                        </div>
                    </div>
                    <br />
                    <button class="btn btn-primary col-xs-6" id="btnPermissionsSave">Save</button>
                    <button class="btn btn-primary col-xs-6" id="btnPermissionsClose">Close</button>
                </div>
            </div>
        </div>
        
    </div>
</div>

<style>
    .state-icon {
        left: -5px;
    }
    .list-group-item-primary {
        color: rgb(255, 255, 255);
        background-color: rgb(66, 139, 202);
    }
    .well .list-group {
        margin-bottom: 0px;
    }
    .lock_page_div {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9999;
        width: 100%;
        height: 100%;
        display: none;
        background: rgba(0,0,0,0.3);
    }
    .centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}
</style>

<script type="text/javascript" src=@Url.Content("/Content/js/Roles/permissions.js?v=1.00")></script>
<script type="text/javascript" src=@Url.Content("/Content/js/Roles/index.js?v=1.00")></script>
