﻿@model FmtsEntity.DriverSchedule

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DriverSchedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WorkingDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkingDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkingHourFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkingHourFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkingHourTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkingHourTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Driver.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Driver.FullName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
