﻿@model IEnumerable<FmtsEntity.DriverSchedule>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WorkingDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkingHourFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkingHourTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Driver.FullName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WorkingDays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkingHourFrom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkingHourTo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Driver.FullName)
        </td>
        <td>
        
           
           if(@Common.HasPermissions(Enums.PermissionsEnum.VehiclesEdit))
           {
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
           }
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
        </td>
    </tr>
}

</table>
