﻿@using FmtsProj.Common
@using FmtsServices.Model
@model IEnumerable<FmtsEntity.Driver>

@{
    ViewBag.Title = "Drivers";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}

<div class="col-md-12">
    <div class="card">
        <div class="content" id="gridContent">
            <div id="jsGrid"></div>
        </div>
    </div>
</div>


<link rel="stylesheet" href=@Url.Content("/Content/css/font-awesome.min.css")>
<script type="text/javascript" src=@Url.Content("/Content/js/jquery-3.2.1.min.js")></script>
<script type="text/javascript" src=@Url.Content("/Content/js/jsgrid.min.js")></script>
<script type="text/javascript" src=@Url.Content("/Content/js/selectivity-jquery.js")></script>

<script type="text/javascript" src=@Url.Content("/Content/js/Books/Unassigned.js?v=1.01")></script>

